description = "Banner linking to product roadmap page"
==
<?php
use Alemba\Alemba\Models\Release;

function onStart()
{
    // Get list of releases

    $this['latest_release'] = Release::where('live', 1)->orderBy('date', 'desc')->first();

}
?>
==
<div class="jumbotron jumbotron-fluid dark lazyload" data-bgset="{{ 'assets/img/banners/banner-product-roadmap@0.5x.jpg'|theme }} [(max-width: 750px)] | {{ 'assets/img/banners/banner-product-roadmap.jpg'|theme }}">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-7 my-auto text-center">
                <h2 class="text-center">Product Roadmap</h2>

                <p>Find out about the exciting upcoming features we have planned for future release.</p>

                <div class="cta-button text-center">
                    <a href="{{ 'product-roadmap'|page }}" class="btn btn-white">Find out more</a>
                </div>
                
                <p class="mt-3"><small>Version {{ latest_release.name }} available now. <a href="{{ 'release-detail'|page({ slug:latest_release.slug }) }}">What's new?</a><br>
                Support for Internet Explorer ending as of version 10.4. <a href="{{ 'ie-support'|page }}">Find out more here</a>.</a></small></p>
            </div>

        </div>
    </div>
</div>