description = "Banner linking to Connectors store"
==
<div class="jumbotron jumbotron-fluid connectors dark fixed-parallax lazyload p-5 bkg-dark" data-bgset="{{ 'Banners/banner-bg-connectors-para@0.5x.jpg'|media }} [(max-width: 750px)] | {{ 'Banners/banner-bg-connectors-para.jpg'|media }}">
    <div class="container">
        <div class="row">

            <div class="col-md-7 my-auto">
                <h2>Connectors</h2>

                <p>Alemba’s powerful integration platform makes it easy to use your Alemba Service Manager system to interact with third-party applications and technologies.</p>

                <div class="cta-button">
                    <a href="{{ 'connectors-store'|page }}" class="btn btn-outline btn-white">Shop connectors</a>
                </div>
            </div>

            <div class="col-md-5 my-auto">
                <img src="{{ 'Icons/icon-section-integration-white.svg'|media }}" alt="" class="img-fluid d-block mx-auto icon-medium">
            </div>

        </div>
    </div>
</div>