description = "CTA Demo banner"
==
<div class="banner-magenta jumbotron jumbotron-fluid dark fixed-parallax lazyload" data-bgset="{{ 'assets/img/banners/banner-bg-connectors-para@0.5x.jpg'|theme }} [(max-width: 750px)] | {{ 'assets/img/banners/banner-bg-connectors-para.jpg'|theme }}">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-10 my-auto text-center">
                <h2 class="text-center">Want to see what Alemba Service Manager can do?</h2>

                <a href="{{ 'demo'|page }}" class="btn btn-outline mt-3">Request a Demo</a>
            </div>

        </div>
    </div>
</div>