description = "Banner with links to Gov procurement"
==
<div class="jumbotron jumbotron-fluid lazyload" data-bgset="{{ 'Banners/banner-front-page-g-cloud-bkg@0.5x.jpg'|media }} [(max-width: 750px)] | {{ 'Banners/banner-front-page-g-cloud-bkg.jpg'|media }}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Government procurement made easy.</h2>
                <p>&nbsp;</p>
            </div>
        </div>
    
        <div class="row justify-content-center">

            <div class="col-6 text-center">
                <img class="img-fluid d-block mx-auto mb-3 lazyload" style="max-height:80px;" data-src="{{ 'Banners/banner-front-page-government-procurement-gov-logo.png'|media }}" alt="GOV.UK" />
                
                <div class="cta-button text-center">                
                    <a href="{{ 'g-cloud'|page }}" class="btn btn-primary">G-Cloud</a>
                </div>
            </div>

        </div>
    </div>
</div>