<div class="jumbotron jumbotron-fluid py-5 bkg-light">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col col-offset-1">
                <h3>Healthcare</h3>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-kch-nhs.jpg'|media }}" alt="Kings College Hospital NHS Foundation Trust" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <a href="https://alemba.com/customers/achieving-world-class-itsm-support-barts-health-nhs-trust"><img data-src="{{ 'Customers/industry/logo-barts-nhs.jpg'|media }}" alt="Barts Health NHS Trust" class="img-fluid d-block mx-auto lazyload"></a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-frimley-nhs.jpg'|media }}" alt="Frimley Health NHS Foundation Trust" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-ulh-nhs.jpg'|media }}" alt="United Lincolnshire Hospitals NHS Trust" class="img-fluid d-block mx-auto lazyload">
                    </div>
                </div>

                <h3 class="mt-5">Finance</h3>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <a href="https://alemba.com/customers/aps-bank"><img data-src="{{ 'Customers/industry/logo-aps.jpg'|media }}" alt="APS Bank" class="img-fluid d-block mx-auto lazyload"></a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-cibc.jpg'|media }}" alt="First Caribbean International Bank" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-hiscox.jpg'|media }}" alt="Hiscox" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-insignia.jpg'|media }}" alt="Insignia Financial" class="img-fluid d-block mx-auto lazyload">
                    </div>
                </div>

                <h3 class="mt-5">Local Government</h3>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-southampton-cc.jpg'|media }}" alt="Southampton City Council" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <a href="https://alemba.com/customers/liverpool-city-council-sees-30-reduction-service-desk-calls-through-automation"><img data-src="{{ 'Customers/industry/logo-liverpool-cc.jpg'|media }}" alt="Liverpool City Council" class="img-fluid d-block mx-auto lazyload"></a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-worcestershire-cc.jpg'|media }}" alt="Worcestershire County Council" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-north-yorkshire-police.jpg'|media }}" alt="North Yorkshire Police" class="img-fluid d-block mx-auto lazyload">
                    </div>
                </div>

                <h3 class="mt-5">Utilities</h3>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-idaho-power.jpg'|media }}" alt="Idaho Power" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-ausgrid.jpg'|media }}" alt="Ausgrid" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-northwestel.jpg'|media }}" alt="Northwestel" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-karachaganak.jpg'|media }}" alt="Karachaganak" class="img-fluid d-block mx-auto lazyload">
                    </div>
                </div>

                <h3 class="mt-5">Retail & Manufacturing</h3>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-ppg.jpg'|media }}" alt="PPG" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-gw.jpg'|media }}" alt="Games Workshop" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-auto-trader.jpg'|media }}" alt="Auto Trader" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-polaris.jpg'|media }}" alt="Polaris" class="img-fluid d-block mx-auto lazyload">
                    </div>
                </div>

                <h3 class="mt-5">Charity</h3>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <a href="https://alemba.com/customers/barnardos"><img data-src="{{ 'Customers/industry/logo-barnardos.jpg'|media }}" alt="Barnardo's" class="img-fluid d-block mx-auto lazyload"></a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-crisis.jpg'|media }}" alt="Crisis" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-plan.jpg'|media }}" alt="Plan International" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-icrc.jpg'|media }}" alt="International Committee of the Red Cross" class="img-fluid d-block mx-auto lazyload">
                    </div>
                </div>

                <h3 class="mt-5">Education</h3>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <a href="https://alemba.com/customers/cardiff-university"><img data-src="{{ 'Customers/industry/logo-cardiff-university.jpg'|media }}" alt="Cardiff University" class="img-fluid d-block mx-auto lazyload"></a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-cnmcc.jpg'|media }}" alt="Central New Mexico Community College" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-victoria.png'|media }}" alt="Victoria University of Wellington" class="img-fluid d-block mx-auto lazyload">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 my-auto">
                        <img data-src="{{ 'Customers/industry/logo-aqa.png'|media }}" alt="AQA" class="img-fluid d-block mx-auto lazyload">
                    </div>
                </div>


            </div>
            
        </div>
        
    </div>
</div>