description = "Banner linking to Gigaom Radar"
==
<div class="jumbotron jumbotron-fluid itsm dark fixed-parallax lazyload" data-bgset="{{ 'assets/img/banners/banner-bg-radar-gigaom-2023@0.5x.jpg'|theme }} [(max-width: 750px)] | {{ 'assets/img/banners/banner-bg-radar-gigaom-2023.jpg'|theme }}">
    <div class="container">
        <div class="row">

            <div class="col-md-7 my-auto">
                <h2>Outperformer</h2>

                <p>We're on Gigaom's radar. Perhaps we should be on yours as well?</p>

                <div class="cta-button">
                    <a href="{{ 'blog-entry'|page({ category:'news', slug:'gigaom-outperformer-alemba-radar-report-it-service-management-itsm-2023' }) }}?utm_source=website+banner&utm_medium=banner&utm_id=GigaOm" class="btn btn-white">Find out more</a>
                </div>
            </div>

            <div class="col-md-5 my-auto">
                <img src="{{ 'Badges/radar_gigaom_2023.svg'|media }}" style="width:400px;" alt="Gigaom Radar. Alemba: ITSM Outperformer" class="img-fluid d-block mx-auto shadow-lg">
            </div>

        </div>
    </div>
</div>