==
<li class="card" role="presentation">
    <a href="{{ 'success-story'|page({ slug:'achieving-world-class-itsm-support-barts-health-nhs-trust' }) }}"></a>
    <div class="card-body text-left d-flex flex-column lazyload" data-bg="{{ 'Banners/menu-card-bg-barts.jpg'|media }}">
    
        <div class="content-wrapper">
            <h4 class="subheading-sm" style="color:white;">Success story</h4>
            <p>&nbsp;</p>
            
            <h2 style="max-width: 500px; color:white;">Achieving World-Class ITSM Support at Barts Health NHS Trust</h2>
            <p>&nbsp;</p>
            <a href="{{ 'success-story'|page({ slug:'achieving-world-class-itsm-support-barts-health-nhs-trust' }) }}" class="btn btn-primary align-bottom" style="color:white; border-color:white;">Read the Case Study</a>
        </div>
        
        <div class="link-wrapper">
            
        </div>
        
    </div> 
</li>