==
<li class="card" role="presentation">
    <a href="/customers/liverpool-city-council-sees-30-reduction-service-desk-calls-through-automation"></a>
    <div class="card-body text-left d-flex flex-column lazyload" data-bg="{{ 'assets/img/banners/menu-card-bg-keyboard.jpg'|theme }}">
    
        <div class="content-wrapper">
            <h4 class="subheading-sm">Success story</h4>
            <p>&nbsp;</p>
            
            <h2 style="max-width: 500px;">Find out how Liverpool City Council Streamlined their Service Desk</h2>
            <p>&nbsp;</p>
            <a href="/customers/liverpool-city-council-sees-30-reduction-service-desk-calls-through-automation" class="btn btn-primary align-bottom">Read the Case Study</a>
        </div>
        
        <div class="link-wrapper">
            
        </div>
        
    </div> 
</li>