<div class="accordion-collapse nav-dropdown-panel collapse" id="nav-company" data-bs-parent="#nav-dropdowns">

	<div class="row g-0 mx-0">

		<div class="col-6 px-5 featured text-light border-end d-flex justify-content-center align-items-center lazyload" data-bg="{{ 'Nav/bkg-hub.jpg'|media }}" style="background-size:cover;">

			<div class="row d-flex flex-row justify-content-center align-items-center">

				<div class="col-12 featured-text">
					<h4>Join the Alemba customer community group</h4>
					<h6>The LinkedIn Hub</h6>

					<a class="btn btn-lg btn-bright white hover-pink" href="https://www.linkedin.com/groups/13002769/" role="button">Join the conversation</a>
				</div>

			</div>

		</div>

		{#
		<div class="col-6 px-5 featured text-light border-end d-flex justify-content-center align-items-center" style="background-image:url('{{ 'Nav/bkg-bluelight.jpg'|media }}');">

			<div class="row d-flex flex-row justify-content-center align-items-center">

				<div class="col-12 featured-text">
					<h4>Critical Service Delivery.</h4>
					<h6>How Alemba Service Manager helps the UK’s Blue Light services.</h6>

					<a class="btn btn-lg btn-outline white hover-pink" href="{{ 'blog-entry'|page({ slug:'emergency-services-itsm-enhancing-critical-service-delivery' }) }}" role="button">Read the blog post</a>
				</div>

			</div>

		</div>
		#}

		<div class="col-6 col-md-6 px-5">

			<div class="row pt-4 pb-4">

				<div class="col-12 col-md-6">

					<h5 class="nav-heading">Company</h5>

					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'our-company'|page }}"><i class="nav-icon fa-kit fa-alemba-x fa-fw"></i> Who Are Alemba?</a></li>
						<li><a href="{{ 'team'|page }}"><i class="nav-icon fa-light fa-people-group fa-fw"></i> Meet the Team</a></li>
						<li><a href="{{ 'our-values'|page }}"><i class="nav-icon fa-light fa-badge fa-fw"></i> Our Values</a></li>
						<li><a href="{{ 'social-responsibility'|page }}"><i class="nav-icon fa-light fa-leaf fa-fw"></i> Social Responsibility</a></li>
						<li><a href="{{ 'security-accreditation'|page }}"><i class="nav-icon fa-light fa-file-certificate fa-fw"></i> Security Accreditation</a></li>
					</ul>

				</div>

				<div class="col-12 col-md-6">

					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'why-alemba'|page }}"><i class="nav-icon fa-light fa-circle-question fa-fw"></i> Why Alemba</a></li>
						<li><a href="{{ 'vacancies'|page }}"><i class="nav-icon fa-light fa-face-smile fa-fw"></i> Careers</a></li>
						<li><a href="{{ 'partners'|page }}"><i class="nav-icon fa-light fa-handshake fa-fw"></i> Partners</a></li>
						<li><a href="{{ 'blog'|page({ category:'news' }) }}"><i class="nav-icon fa-light fa-newspaper fa-fw"></i> Newsroom</a></li>
						<li><a href="{{ 'customers'|page }}"><i class="nav-icon fa-light fa-buildings fa-fw"></i> Customers</a></li>
					</ul>

				</div>

			</div>

		</div>

	</div>

</div>