<div class="accordion-collapse nav-dropdown-panel collapse" id="nav-features" data-bs-parent="#nav-dropdowns">

	<div class="row g-0 mx-0">

		<div class="col-4 featured text-light border-end d-flex justify-content-center align-items-center lazyload" data-bg="{{ 'Misc/bkg-purple-pixels.jpg'|media }}">

			<div class="row d-flex flex-row justify-content-center align-items-center">

				<div class="col-sm-12 col-md-5 featured-image">
					<img class="w-50 img-fluid lazyload" data-src="{{ 'Misc/pic-alembot-face.png'|media }}?v=2" data-srcset="{{ 'Misc/pic-alembot-face@2x.png'|media }}?v=2 2x" alt=":)" />
				</div>

				<div class="col-sm-12 col-md-7 p-5 ps-md-0 featured-text">
					<h4>Say hello to Alemba Chatbot</h4>
					<h6>Version 10.6 is here</h6>

					<a class="btn btn-lg btn-outline" href="{{ 'alemba-chatbot-10'|page }}" role="button">Read more</a>
				</div>

			</div>

		</div>

		<div class="col ps-5">

			<div class="row pt-4 pb-4">

				<div class="col-12 col-md-4">

					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'releases'|page }}"><i class="nav-icon fa-light fa-star fa-fw"></i> What's New</a></li>
						<li><a href="{{ 'product-roadmap'|page }}"><i class="nav-icon fa-light fa-chart-tree-map fa-fw"></i> Product Roadmap</a></li>
					</ul>

				</div>

				<div class="col-12 col-md-4">

					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'self-service-portal'|page }}"><i class="nav-icon fa-light fa-grid-horizontal fa-fw"></i> Self-service Portal</a>
							<ul class="nav-dropdown-panel-list-submenu">
								<li><a href="{{ 'multi-language'|page }}">Multi-language</a></li>
								<li><a href="{{ 'alemba-chatbot-10'|page }}">Chatbot</a></li>
							</ul>
						</li>
						<li><i class="nav-icon fa-light fa-arrow-progress fa-fw"></i> <a href="{{ 'graphical-workflow'|page }}">Graphical Workflow</a></li>
						<li><i class="nav-icon fa-light fa-robot fa-fw"></i> <a href="{{ 'service-management-automation'|page }}">Automation</a></li>
						<li><i class="nav-icon fa-light fa-square-dashed-circle-plus fa-fw"></i> <a href="{{ 'graphical-form-designer'|page }}">Graphical Form Designer</a></li>
                        <li><i class="nav-icon fa-light fa-magic fa-fw"></i> <a href="{{ 'ai-ops-proactive-problem-management'|page }}">AI Ops: Proactive Problem Management </a></li>
                        <li><i class="nav-icon fa-light fa-mobile-phone fa-fw"></i> <a href="{{ 'responsive-design-interfaces'|page }}">Responsive Interfaces</a></li>
					</ul>

				</div>

				<div class="col-12 col-md-4">

					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'data-secure-itsm'|page }}"><i class="nav-icon fa-light fa-lock fa-fw"></i> Security</a></li>
						<li><a href="{{ 'reporting'|page }}"><i class="nav-icon fa-light fa-chart-mixed fa-fw"></i> Reporting</a></li>
						<li><a href="{{ 'integration-platform'|page }}"><i class="nav-icon fa-light fa-link fa-fw"></i> Integration</a>
							<ul class="nav-dropdown-panel-list-submenu">
								<li><a href="{{ 'connectors-store'|page }}">Connectors Store</a></li>
								<li><a href="{{ 'asm-connector-builder'|page }}">Connector Builder</a></li>
								<li><a href="{{ 'microsoft-teams'|page }}">Microsoft Teams integration</a></li>
								<li><a href="{{ 'servicenow-connector'|page }}">ServiceNow connector</a></li>
								<li><a href="{{ 'alemba-discovery-powered-lansweeper'|page }}">Alemba Discovery</a></li>
								<li><a href="{{ 'devops'|page }}">Azure DevOps</a></li>
							</ul>
						</li>
					</ul>

				</div>

			</div>

		</div>

	</div>

</div>