<div class="accordion-collapse nav-dropdown-panel collapse" id="nav-resources" data-bs-parent="#nav-dropdowns">

	<div class="row g-0 mx-0">

		<div class="col-6 col-md-6 px-5 featured text-light border-end d-flex justify-content-center align-items-center lazyload" data-bg="{{ 'Nav/bkg-nhs.jpg'|media }}">

			<div class="row d-flex flex-row justify-content-center align-items-center">

				<div class="col-sm-12 col-md-5 featured-image">
					<img class="w-50 img-fluid mb-4 lazyload" data-src="{{ 'Customers/Barts Health NHS Trust logo.svg'|media }}" alt="Barts Health NHS" />
				</div>

				<div class="col-sm-12 col-md-7 featured-text">
					<h4 class="text-dark">Achieving World-Class ITSM Support at Barts Health NHS Trust</h4>

					<a class="btn btn-lg btn-outline pink fill-white hover-blue light-bkg" href="{{ 'success-story'|page({ slug:'achieving-world-class-itsm-support-barts-health-nhs-trust' }) }}" role="button">Read the Success Story</a>
				</div>

			</div>

		</div>

		<div class="col-6 px-5">

			<div class="row pt-4 pb-4">

				<div class="col">

					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'blog'|page }}"><i class="nav-icon fa-light fa-bullhorn fa-fw"></i> Blog</a></li>
						<li><a href="{{ 'events'|page }}"><i class="nav-icon fa-light fa-ticket fa-fw"></i> Events</a></li>
						<li><a href="{{ 'case-studies'|page }}"><i class="nav-icon fa-light fa-stars fa-fw"></i> Success Stories</a></li>
						<li><a href="{{ 'white-papers'|page }}"><i class="nav-icon fa-light fa-file-lines fa-fw"></i> White Papers</a></li>
					</ul>

				</div>

                <div class="col">
                    <h5 class="nav-heading">How To Guides</h5>
					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'how-guide-simplify-change-approvals-alembas-risk-calculator'|page }}">Simplify Change Approvals with Alemba’s Risk Calculator</a></li>
						
					</ul>

				</div>

			</div>

		</div>

	</div>

</div>