<div class="accordion-collapse nav-dropdown-panel collapse" id="nav-solutions" data-bs-parent="#nav-dropdowns">

	<div class="row g-0 mx-0">

		<div class="col ps-5">

			<div class="row pt-4 pb-4">

				<div class="col-12 col-sm-4">

					<h5 class="nav-heading">Industry</h5>

					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'healthcare'|page }}"><i class="nav-icon fa-light fa-suitcase-medical fa-fw"></i> Healthcare</a></li>
						<li><a href="{{ 'local-government'|page }}"><i class="nav-icon fa-light fa-building-columns fa-fw"></i> Local & State Government</a></li>
						<li><a href="{{ 'finance'|page }}"><i class="nav-icon fa-light fa-coins fa-fw"></i> Finance</a></li>
						<li><a href="{{ 'utilities'|page }}"><i class="nav-icon fa-light fa-pipe-valve fa-fw"></i> Utilities</a></li>
						<li><a href="{{ 'managed-service-providers'|page }}"><i class="nav-icon fa-light fa-tower-broadcast fa-fw"></i> MSPs</a></li>
                        <li><a href="{{ 'retail'|page }}"><i class="nav-icon fa-light fa-bag-shopping fa-fw"></i> Retail & Manufacturing</a></li>
                        <li><a href="{{ 'charity'|page }}"><i class="nav-icon fa-light fa-hand-holding-heart fa-fw"></i> Charity</a></li>
                        <li><a href="{{ 'education'|page }}"><i class="nav-icon fa-light fa-graduation-cap fa-fw"></i> Education</a></li>
					</ul>

				</div>

				<div class="col-12 col-sm-4">

					<h5 class="nav-heading">Uses</h5>

					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'it-service-management'|page }}"><i class="nav-icon fa-light fa-computer-mouse fa-fw"></i> IT Service Management</a>
							<ul class="nav-dropdown-panel-list-submenu">
								<li><a href="{{ 'itsm-software'|page }}">ITSM Software Guide</a></li>
							</ul>
						</li>
						<li><a href="{{ 'esm'|page }}"><i class="nav-icon fa-light fa-building fa-fw"></i> Enterprise Service Management</a></li>
						<li><a href="{{ 'digital-transformation'|page }}"><i class="nav-icon fa-light fa-copy fa-fw"></i> Digital Transformation</a></li>
						<li><a href="{{ 'request-fulfilment'|page }}"><i class="nav-icon fa-light fa-comment fa-fw"></i> Service Request Fulfilment</a>
							<ul class="nav-dropdown-panel-list-submenu">
								<li><a href="{{ 'hr-service-management'|page }}">HR Service Request Management</a></li>
								<li><a href="{{ 'facilities-management'|page }}">Facilities Service Request Management</a></li>
								<li><a href="{{ 'virtual-environment-provisioning'|page }}">Virtual Environment Provisioning</a></li>
							</ul>
						</li>
						<li><a href="{{ 'case-management'|page }}"><i class="nav-icon fa-light fa-briefcase fa-fw"></i> Case Management</a></li>
						<li><a href="{{ 'business-process-management'|page }}"><i class="nav-icon fa-light fa-chart-network fa-fw"></i> Business Process Management & Automation</a></li>
					</ul>

				</div>

				<div class="col-12 col-sm-4">
                    <h5 class="nav-heading">Flexible Options</h5>
					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'interfaces'|page }}"><i class="nav-icon fa-light fa-arrow-pointer fa-fw"></i> User Interfaces</a></li>
                        <li><a href="{{ 'alemba-service-manager-deployment-options'|page }}"><i class="nav-icon fa-light fa-server fa-fw"></i> Deployment Options</a></li>
					</ul>

					<h5 class="nav-heading">Services</h5>

					<ul class="nav-dropdown-panel-list">
						<li><a href="{{ 'professional-services'|page }}"><i class="nav-icon fa-light fa-handshake fa-fw"></i> Professional Services</a></li>
						<li><a href="{{ 'service-desk'|page }}"><i class="nav-icon fa-light fa-user-headset fa-fw"></i> Service Desk</a></li>
						<li><a href="{{ 'cloud'|page }}"><i class="nav-icon fa-light fa-cloud fa-fw"></i> Cloud Services</a></li>
						<li><a href="{{ 'rapid-start'|page }}"><i class="nav-icon fa-light fa-forward-fast fa-fw"></i> Alemba Service Manager Rapid Start</a></li>
					</ul>

				</div>

			</div>

		</div>

	</div>

</div>