<div class="accordion-collapse nav-dropdown-panel collapse" id="nav-support" data-bs-parent="#nav-dropdowns">

	<div class="row">

		<div class="col-7 col-md-6 p-5 featured text-light lazyload" data-bg="{{ 'Nav/bkg-support.jpg'|media }}">

			<div class="featured-text">
				<h5 class="text-dark support-number"><img class="support-flag lazyload" data-src="{{ 'Offices/flag-icon-uk.png'|media }}" alt="UK" /> +44 (0)131 241 1343</h5>
				<h5 class="text-dark support-number"><img class="support-flag lazyload" data-src="{{ 'Offices/flag-icon-usa.png'|media }}" alt="USA" /> +1 612 416 2177</h5>
				<h5 class="text-dark support-number"><img class="support-flag lazyload" data-src="{{ 'Offices/flag-icon-australia.png'|media }}" alt="Australia" /> +61 (0)2 5632 9243</h5>
				<h5 class="text-dark support-number mb-0"><img class="support-flag lazyload" data-src="{{ 'Offices/flag-icon-nz.png'|media }}" alt="New Zealand" /> +64 (0)4 488 7481</h5>
			</div>

		</div>

		<div class="col-5 col-md-6 p-5">

			<div class="row">

				<div class="col">

					<ul class="nav-dropdown-panel-list">
						<li><a href="https://alemba.help/production/core.aspx?lite"><i class="nav-icon fa-light fa-computer-mouse fa-fw"></i> Support Portal</a></li>
						<li><a href="https://alemba.help/production/Portal.aspx"><i class="nav-icon fa-light fa-books fa-fw"></i> Documentation</a></li>
						<li><a href="{{ 'support'|page }}"><i class="nav-icon fa-light fa-user-headset fa-fw"></i> Customer Support</a></li>
					</ul>

				</div>

			</div>

		</div>

	</div>

</div>