==
<li class="card" role="presentation">
    <a href="/customers/kroger-technology-using-vfire-automate-mission-critical-processes-across-whole-business"></a>
    <div class="card-body text-left d-flex flex-column lazyload" data-bg="{{ 'assets/img/banners/menu-card-bg-keyboard.jpg'|theme }}">
    
        <div class="content-wrapper">
            <h4 class="subheading-sm">Success story</h4>
            <p>&nbsp;</p>
            <img class="lazyload" data-src="{{ 'assets/img/customer-logos/customer-kroger.png'|theme }}" alt="Kroger">
            <h2 style="max-width: 500px;">Find out how Kroger reduced IP provisioning time from days to minutes</h2>
            <p>&nbsp;</p>
            <a href="/customers/kroger-technology-using-vfire-automate-mission-critical-processes-across-whole-business" class="btn btn-primary align-bottom">Read the Case Study</a>
        </div>
        
        <div class="link-wrapper">
            
        </div>
        
    </div> 
</li>