description = "Digitisation menu advert"
==
<li class="card dark" role="presentation">
    <a href="{{ 'digital-transformation'|page }}"></a>
    <div class="card-body text-left d-flex flex-column lazyload" data-bg="{{ 'assets/img/banners/menu-card-bg-paper.jpg'|theme }}">
    
        <div class="row">
            <div class="col">
                <h2 style="color: #f20093; font-size: 43px">Paper forms?<br>Screw that.</h2>
                <h4>Save time and money by going digital.</h4>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <a href="{{ 'digital-transformation'|page }}" class="btn btn-primary align-bottom">Find out more</a>
            </div>
        </div>
        
        
    </div> 
</li>