description = "Transfuser menu advert"
==
<li class="card" role="presentation">
    <a href="{{ 'tranzfuser'|page }}"></a>
    <div class="card-body text-left d-flex flex-column lazyload" data-bg="{{ 'assets/img/banners/menu-card-bg-tri.jpg'|theme }}">
    
        <div class="row">
            <div class="col-sm-7">
                <img src="{{ '/Misc/tranzfuser-logo-380.png'|media }}" alt="Tranzfuser logo" class="d-block" style="width: 250px; height: auto; margin-left: -1.6rem;">
                <p>&nbsp;</p>
                <h2 style="">Game on!</h2>
                <h4 style="color:#9B9B9B;">Alemba is proud to be a local Hub for the 2019 Tranzfuser programme.</h4>
                <p>&nbsp;</p>
                <a href="{{ 'tranzfuser'|page }}" class="btn btn-primary align-bottom">Find out more</a>
            </div>
            <div class="col-sm-5 my-auto">
                <img data-src="{{ '/Misc/mediashake-logo-250.png'|media }}" alt="MediaShake" class="img-fluid d-none d-sm-block lazyload">
            </div>
        </div>
    </div> 
</li>