/*
Font: 		Articulat CF
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T6041/articulat-cf
Foundry: 	Connary Fagen
Foundry: 	https://www.youworkforthem.com/designer/479/connary-fagen
Copyright:	
Version: 	17
Created:	December 19, 2021
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'ArticulatCF-Regular';
	src: url('articulatcf-regular.eot');
	src: url('articulatcf-regular.eot?#iefix') format('embedded-opentype'),
             url('articulatcf-regular.woff2') format('woff2'),
	     url('articulatcf-regular.woff') format('woff'),
	     url('articulatcf-regular.ttf') format('truetype'),
	     url('articulatcf-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
