.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.no-vertical-align {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.button-link {
  color: #0096DC;
  font-size: 18px;
  border-bottom: 1px solid #0096DC;
  padding: 10px 50px 10px 50px;
  display: inline-block;
}
@media only screen and (max-width: 1024px) {
  .button-link {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 768px), only screen and (max-width: 480px) {
  .button-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .button-link {
    font-size: 14px;
    line-height: 15px;
  }
}
.button-link-hover {
  background-color: #0096DC;
  color: white;
  text-decoration: none;
}
.button-link-small {
  color: #0096DC;
  font-size: 18px;
  border-bottom: 1px solid #0096DC;
  padding: 10px 50px 10px 50px;
  display: inline-block;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media only screen and (max-width: 1024px) {
  .button-link-small {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 768px), only screen and (max-width: 480px) {
  .button-link-small {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .button-link-small {
    font-size: 14px;
    line-height: 15px;
  }
}
.button-link:hover,
.button-link-small:hover {
  background-color: #0096DC;
  color: white;
  text-decoration: none;
}
.button-link-disabled {
  color: #0096DC;
  font-size: 18px;
  border-bottom: 1px solid #0096DC;
  padding: 10px 50px 10px 50px;
  display: inline-block;
  color: #2d2d2d;
  border-bottom-color: #2d2d2d;
  cursor: default;
}
@media only screen and (max-width: 1024px) {
  .button-link-disabled {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 768px), only screen and (max-width: 480px) {
  .button-link-disabled {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .button-link-disabled {
    font-size: 14px;
    line-height: 15px;
  }
}
.spaced {
  text-transform: uppercase;
  letter-spacing: 2px;
}
html {
}
body {
  background-color: transparent;
}
#container {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#content {
  margin: 0 auto 0 auto;
}
#content .header {
  text-align: center;
  padding: 40px 0 40px 0;
}
#content .header h1 {
  font-size: 42px;
  color: #0096DC;
}
#content .header h2 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #9B9B9B;
}
#content .details {
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
}
#content .details .email {
  margin-bottom: 30px;
}
#content .details .email a {
  color: #0096DC;
}
#content .details .numbers {
  color: #505050;
  margin: 0 auto 0 auto;
}
#content .details .numbers td {
  padding: 3px;
}
#content .details .numbers .region {
  text-align: right;
  padding-right: 12px;
  color: #505050;
}
#content .details .numbers .number {
  text-align: left;
  padding-left: 12px;
}
.logo {
    width: 250px;
    margin-top: 50px;
    height: auto;
}
