@font-face {
    font-family: "Neutraface Text";
    src: url('../fonts/NeutrafaceText-Book.eot');
    src: url("../fonts/NeutrafaceText-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/NeutrafaceText-Book.woff2") format("woff2"), url("../fonts/NeutrafaceText-Book.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
}