@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.1; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.1; } }

a {
  color: #0096DC; }
  a:hover {
    color: #f20093; }

.spaced-caps-link {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: underline; }

.search-with-button {
  position: relative; }

.rounded-input {
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
  height: 70px;
  position: absolute; }

.rounded-input-button {
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
  border: 0;
  border-radius: 0 1rem 1rem 0;
  border-left: 1px solid #ced4da;
  background-color: #EBEBEB;
  position: absolute;
  right: 0;
  height: 69px; }
  .rounded-input-button:hover {
    background-color: #9C9C9C; }

.overlapping-input-button {
  position: absolute;
  font-size: 1.2rem;
  line-height: 4.2rem;
  right: 6rem; }

ul.navigation li {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 16px 16px;
  padding-top: 20px; }

ul.navigation li {
  background-image: url("../img/icon-menu-home-32px.png"); }
  ul.navigation li + li {
    background-image: url("../img/icon-menu-portal-32px.png"); }
    ul.navigation li + li + li {
      background-image: url("../img/icon-menu-new-32px.png"); }
      ul.navigation li + li + li + li {
        background-image: url("../img/icon-menu-install-32px.png"); }
        ul.navigation li + li + li + li + li {
          background-image: url("../img/icon-menu-setup-32px.png"); }
          ul.navigation li + li + li + li + li + li {
            background-image: url("../img/icon-menu-integrate-32px.png"); }
            ul.navigation li + li + li + li + li + li + li {
              background-image: url("../img/icon-menu-configure-32px.png"); }
              ul.navigation li + li + li + li + li + li + li + li {
                background-image: url("../img/icon-menu-manage-32px.png"); }
                ul.navigation li + li + li + li + li + li + li + li + li {
                  background-image: url("../img/icon-menu-use-32px.png"); }

.large-banner-solid {
  background-color: #0096DC;
  padding: 1.5rem; }
  .large-banner-solid * {
    color: white;
    text-align: center; }
  .large-banner-solid h3 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    margin-bottom: 0; }
  .large-banner-solid a {
    margin-left: 1rem; }

.large-banner-with-image {
  background-image: url("../img/bkg-image-searchbar@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  height: 280px; }
  .large-banner-with-image h1 {
    color: white;
    font-family: "Neutraface Text";
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
    margin-bottom: 2rem; }

.content {
  background-color: whitesmoke;
  padding: 2rem; }
  .content h3 {
    font-family: "Neutraface Text";
    font-size: 1.5rem;
    margin-bottom: 2rem; }

#columnReleases {
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem; }

#columnFeatured {
  border-left: 1px solid #9C9C9C;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem; }

.featuredItem {
  border-radius: 4px;
  border: 1px solid #9C9C9C;
  background-color: white;
  padding: 1.5rem;
  background-repeat: no-repeat;
  background-position: top left;
  display: inline-block;
  width: 180px;
  height: 255px;
  vertical-align: top;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem; }
  .featuredItem h4 {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 180px; }

.softwareVersion h1 {
  font-size: 1.5rem;
  margin-top: 0; }

.softwareVersion h4 {
  font-size: 0.8rem; }

.softwareVersion .releaseNotesIcon {
  color: #9C9C9C;
  margin-right: 10px; }

.softwareVersion .softwareVersionIcon {
  float: left;
  width: 40px;
  padding-top: 5px; }

.softwareVersion .softwareVersionText {
  margin-left: 60px; }
  .softwareVersion .softwareVersionText h1 {
    margin-bottom: 0.5rem; }

.footer {
  padding-left: 0; }
  .footer h5 {
    font-family: "Neutraface Text";
    font-size: 0.8rem;
    color: #9C9C9C; }
  .footer #footerMenu {
    padding: 2rem; }
    .footer #footerMenu a {
      font-size: 0.85rem; }
  .footer #footerContact {
    background-image: url("../img/bkg-image-footer@2x.jpg");
    padding: 3rem;
    text-align: center;
    color: white; }
    .footer #footerContact .footerContactLink {
      display: inline-block;
      text-align: center; }
      .footer #footerContact .footerContactLink .footerContactLinkIcon {
        float: left;
        width: 40px; }
        .footer #footerContact .footerContactLink .footerContactLinkIcon .linkIcon {
          font-size: 3rem;
          color: #f20093; }
      .footer #footerContact .footerContactLink .footerContactLinkText {
        text-align: left;
        margin-left: 65px; }
        .footer #footerContact .footerContactLink .footerContactLinkText h1 {
          font-size: 1.3rem; }
        .footer #footerContact .footerContactLink .footerContactLinkText h4 {
          font-size: 1.1rem;
          color: white; }
  .footer #footerCopyright {
    padding: 1.5rem; }
    .footer #footerCopyright p {
      font-size: 0.7rem;
      color: #9C9C9C;
      margin: 0; }
