@media print {
  @page {
    size: auto;
    margin: 1.5cm;
  }
  body {
    width: 100%;
    height: auto;
    overflow: auto;
  }
  p {
    page-break-inside: avoid;
  }
  #header {
    display: none;
  }
  footer {
    display: none;
  }
  .container {
    width: 100%;
  }
}
