
/* ACCESSIBILITY PAGES */

.compliance-table {
    background:#fff;
    margin-bottom: 4rem;
    margin-top: 2rem;
    
    tbody td, thead th {
        padding: 1rem;
        font-size: 14px;
        
        p, ul:not(.list-unstyled), a {
            font-size: 14px;
        }
    }
    thead tr {
        background-color: #404040;
        color: white;
        &:nth-child(2) {
            th {
                border-right: 1px solid lighten(#404040, 15%);
                border-top: 1px solid lighten(#404040, 15%);
                background-color: lighten(#404040, 5%);
                &:first-child {
                    border-left: 1px solid lighten(#404040, 15%);
                }
            }
        }
        &:first-child th {
            font-size: 16px;
            &:nth-child(2) {
                border-left: 1px solid lighten(#404040, 15%);
                border-right: 1px solid lighten(#404040, 15%);
            }
        }
        th {
            font-size: 12px;
            text-align: center;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    tbody tr {
        border-bottom: 1px solid #9b9d9d;
        &:nth-of-type(even) {
            background:#fafafa;
        }
    }
    tbody td {
        border-right: 1px solid #ecebeb;
        vertical-align: top;
        &:last-child {
            border-right: 0;
        }
    }
    
    td.conformance-rating {
        text-align: center;
        img {
            margin: 0 auto 5px auto;
        }
    }
}

ul.conformance-list:not(.list-unstyled) {
    li {
        margin-bottom: 1rem;
    }
    img {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}