// Colours

$darkpurple: rgb(31,29,50);
$darkgrey: rgb(25,25,25);
$midgrey: rgb(156,156,156);
$navyblue: rgb(0,35,70);
$grey: rgb(90,90,90);
$verylightgrey: rgb(245,245,245);
$alembablue: rgb(0,150,220);
$alembapink: rgb(242,0,147);
$offwhite: rgb(250,250,250);
$orange: rgb(240,178,25);
$green: rgb(167,211,1);