.contact-office {
    height: 100%;
    
    .contact-office-text h3 {
        margin-top: 0;
    }
    
    .card-body.contact-office-text {
        height: auto;
    }
    
    .contact-office-location {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
    .tel a {
        color: $alembapink;
    }
}

.contact-number {
    margin-bottom: 3rem;
}

.contact-number h3, .contact-office-text h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.contact-numbers-small {
    .contact-number {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 48px;
            height: auto;
            margin-bottom:0;
            margin-right: 20px;
        }
    }
}