#ITIL-nav {
    .navbar-nav {
        max-width: 400px;
        text-align: center;
    }
    .nav-item a {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
        font-size: 1.1rem;
    }
    .dropdown-toggle {
        border-bottom: 1px solid $darkgrey;
        padding: 0.5rem 1rem;
    }
    .dropdown-menu {
        right: auto;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);   
        padding: 0;
        overflow: hidden;
        @include vendor-prefixes(box-shadow, 0 2px 10px rgba(0,0,0,0.4));
        &.show {
            display: block !important;
        }
        a {
            color: $darkgrey;
            padding: 0.75rem 3rem;
            border-bottom: 1px solid #ECEBEB;
            &:hover:not(.active) {
                background-color: $alembablue;
                color: white;
            }
            &:last-child {
                border-bottom: 0;
            }
            &.active {
                background-color: lighten($alembablue, 50%);
            }
        }
    }
}

.itil-provides {
    border: 1px solid #ecebeb;
    padding: 2rem;
    margin-top: 2rem;

    h3 {
        margin-top: 0 !important;
    }
}