// Jumbotron banners

.jumbotron {
    margin-bottom: 0;
    background-color: white;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    
    &.fixed-parallax {
        background-attachment: fixed !important;
    }
    
    h2 {
        font-size: 36px;
        &.xl-header {
            font-size: 48px;
        }
    }
    
    .cta-button {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .stat-combo {
        h1, h2 {
            text-align: center;
        }
        h2 {
            font-size: 48px;
            margin-bottom: 0;
        }
        h3 {
            font-size: 28px;
        }
    }
    
    &.shadow-text {
        h1, h2, h3, p {
            @include vendor-prefixes(text-shadow, 0 0 8px rgba(0,0,0,0.3));
        }
    }
}

.jumbotron.white {
    background-color: white;
}

.jumbotron.light-grey, div.light-grey {
    background-color: $offwhite;
}

.jumbotron.grey {
    background-color: $darkgrey;
    
    h1, h2, h3, h4, h5, h6, p, a, ul, ol {
        color: white;
    }
    hr {
        background-color: white;
    }
}

.jumbotron.asm {
    img {
        &.asm-screen {
            max-width: 50%;
            height: auto;
        }
        &.asm-logo {
            margin: 2rem auto;
            max-width: 60%;
            height: auto;
        }
    }
    h1, h2 {
        text-align: center;
    }
    
    h1 {
        font-size: 3rem;
    }
    p {
        display: none;
        max-width: 40rem;
    }
    hr {
        max-width: 40rem;
    }
    
    .cta-button .btn.btn-primary {
        background-color: $alembapink;
        border: 0;
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 14px;
        padding: 1rem 3.5rem;
        &:hover, &:active, &:focus {
            background-color: lighten($alembapink, 5%) !important;
        }
    }
    
}



.jumbotron.itsm {
    background: transparent;/* background set to transparent for parallax effect */
    background-size: cover;
    h2 {
        margin-bottom: 3rem;
    }
}

.jumbotron.esm {
    background: transparent;/* background set to transparent for parallax effect */
    background-size: cover;
    h2 {
        margin-bottom: 3rem;
    }
}

.jumbotron.connectors {
    background: transparent;/* background set to transparent for parallax effect */
    background-size: cover;
    h2 {
        font-size: 36px;
        margin-bottom: 2rem;
    }
}

.jumbotron.customers {
    background-color: white;
    
    .col-6 {
        padding: 1.5rem 0;
    }
    img {
        @include vendor-prefixes(transition, all .2s ease);
        @include vendor-prefixes(filter, grayscale(100%));
        opacity: 0.65;
        &:hover {
            @include vendor-prefixes(filter, grayscale(0%));
            opacity: 1;
        }
    }
}

.jumbotron.customers-carousel {
    .col-6 {
        padding: 1.5rem 0;
    }
}

.jumbotron.verticals {
        
    h3 {
        margin-bottom: 3rem;
    }
    img {
        margin-bottom: 1.5rem;
    }  
}

.jumbotron.investment {
    background-color: $offwhite;
    img {
        margin: 2rem auto;
    }
}

.jumbotron.quote-banner {
    background-color: #f5fbff;
    color: $alembablue;
    .row > div:first-child {
        background: url(../img/graphics/icon-quote-marks-blue.svg) no-repeat left top;
    }
    blockquote p {
        font-size: 18px;
    }
}


.jumbotron.banner, .banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;

    @media (min-width: 768px) {
        height: 14rem;
    }
    
    &.featured {
        background-position: right center; 
    }
    
    h3 {
        font-size: 18px;
    }
    
    img.asm-banner-logo + h2 {
        font-size: 32px;
        margin-top: 1rem;
    }
    
    img.asm-banner-logo {
        width: 250px;
        height: auto;
    }
    
    .banner-text {
        h1, h2, h3 {color: white;}
        h1 {
            font-size: 36px;
        }
    }
    
    blockquote {
        color: white;
        font-size: 21px;
    }
    
    .banner-corner-logo {
        position: absolute;
        left: 0rem;
        bottom: 0rem;
        width: 125px;
    }
    
    .banner-chart {
        max-width: 70%;
        max-height: 80%;
    }
    
    .banner-chart + h2 {
        margin-top: 1rem;
    }
    h2.tag-line {
        font-size: 20px;
        font-family: 'lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
    }
    img + .tag-line {
        margin-top: 1.5rem;
    }
}

.jumbotron.banner-large, .banner-large {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18rem;
    padding-top: 0;
    padding-bottom: 0;
    
    &.featured {
        background-position: center center;
    }
    
    .featured-blog-title {
        font-size: 36px;
        margin-bottom: 1rem;
        @include vendor-prefixes(text-shadow, 0 0 5px rgba(0,0,0,0.5));
        +h2 {
            font-size: 21px;
            color: $alembablue;
        }
    }
}

.jumbotron.achievements {
    .carousel-item {
        .container .row {
            min-height: 180px;
        }
        p {
            margin: 0.5em 0;
            text-align: center;
        }
    }
    .carousel-indicators {
        bottom: -20px;
        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid $midgrey;
            margin-left: 5px;
            margin-right: 5px;
            &.active {
                background-color: $alembablue;
                box-shadow: inset 0 0 0 2px white;
            }
        }
    }
    .carousel-control-next, .carousel-control-prev {
        filter: invert(50%);
        top: -57px;
    }
}
@include media-breakpoint-up(sm) {
    .jumbotron.achievements {
        h2 {
            font-size: 48px;
        }
        .carousel-item {
            p {
                text-align: left;
            }
        }
        .carousel-indicators {
            bottom: -45px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .jumbotron.asm h1 {
        padding: 0 3rem;
    }
    .jumbotron.customers img {
        max-width: 70%;
    }
    
}

@include media-breakpoint-down(xs) {
    .jumbotron.verticals {
        .col-sm {
            padding-bottom: 4em;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .jumbotron.banner, .banner, .banner-large {
        &.featured {
            background-position: center center;
        }
    }
}

@include media-breakpoint-up(md) {
    
    .jumbotron {
        .cta-button {
            text-align: left;
            margin-bottom: 0;
        }
        
        h2 {
            text-align: left;
        }
    }
    
    .jumbotron.asm {
        h1, h2 {
            text-align: left;
            margin: 0.5 0;
        }
        p {
            display: block;
        }
        hr {
            margin-left: 0;
            text-align: left;
        }
        img.asm-screen {
            max-width: 70%;
        }
        img.asm-logo {
            width: 325px;
            max-width: 70%;
            height: auto;
            margin: 2rem 0;
        }  
    }
    
    .jumbotron.itsm, .jumbotron.esm {
        padding: 7rem 0;
    }
    
    .jumbotron.customers {
        .cta-button {
            text-align: center;
        }
    }
    
    .jumbotron.banner, .banner {
        height: 21rem;
        h1 {
            font-size: 60px;
            &.xl-header {
                font-size: 72px;
            }
        }
        h2.xl-heading {
            font-size: 60px;
        }
        
        h3 {
            font-size: 24px;
        }
        
        img.asm-banner-logo + h1 {
            font-size: 42px;
            margin-top: 1.5rem;
        }
        
        img.asm-banner-logo {
            width: 300px;
        }
        
        .banner-text h2 {
            font-size: 42px;
        }
        .banner-text h1 + h2 {
            font-size: 24px;
        }
        .banner-text h3 {
            font-size: 18px;
            line-height: 27px;
        }
        
        blockquote {
            color: white;
            font-size: 28px;
        }
        
        .banner-corner-logo {
            position: absolute;
            left: 1.5rem;
            bottom: 1.5rem;
            width: 160px;
        }
    }

    .jumbotron.banner-large, .banner-large {
        height: 26rem;
        .featured-blog-title {
            font-size: 48px;
        }
    }
}

.jumbotron.homepage-banner-strip {
    //background: rgb(86,86,86);
    background: #f20093;
    //background: radial-gradient(circle, rgba(86,86,86,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(circle, #f20093 0%, #d30080 100%);
    padding: 1rem 0 1rem 0;
    text-align: center;

    img {
        display: inline-block;
        height: 2rem;
        margin-right: 1.5rem;
    }

    h5 {
        display: inline-block;
        color: white;
        letter-spacing: 3px;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-size: 13px;
    }

    a {
        color: white;

        &:hover {
            //color: $alembablue;
            color: white;
        }
    }

    .homepage-banner-strip-content {
        margin: 0 auto 0 auto;
    }
}

@include media-breakpoint-down(sm) {

    .jumbotron.homepage-banner-strip {
        padding: 0.5rem 0 0.5rem 0;

        h5 {
            font-size: 0.7rem;
            letter-spacing: 2px;
        }

        img {
            height: 1.5rem;
        }

    }

}