.release-section-name {
    color: $alembablue;
}

img.release-note-name-bullet {
    width: 20px;
    display: inline-block;
    margin-bottom: 0.25rem;
}

.release-note-content {

    img {
        border: 1px solid $midgrey;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
    }

}