.roadmap {
    .maintanence-message {
        display: none;
    }
}
.roadmap-frame {
    width: 100%;
    height: 900px;
    max-height: 100vh;
    border: 0;
    outline: none;
    z-index: 1;
} 

.roadmap-key {
    margin-left: 0 !important;
    flex-wrap: wrap;
    padding: 2rem 2rem 0 2rem !important;
    @include vendor-prefixes(border-radius, 4px);
    background-color: $offwhite;
    border: 1px solid $midgrey;
    
    li {
        padding-left: 0 !important;
        margin-bottom: 2rem !important;
        align-items: center;
        
        img {
            margin-bottom: 0;
        }
    }
    
    li:not(:last-child) {
        margin-right: 2rem;
        white-space: nowrap;
    }
    
    img {
        margin-bottom: 0;
    }
}

#accordion.roadmap {
    margin-top: 2rem;
    
    .card, .card-header, .card-header:first-child {
        @include vendor-prefixes(border-radius, 0);
        border: 0;
        background-color: transparent;
    }
    
    .card {
        margin-bottom: 1rem;
    }
    
    .card-header {
        padding: 1rem 0;
        cursor: pointer;
        &:hover {
            h2 {color: $alembablue;}
        }
        
        h2 {
            font-size: 36px;
            line-height: 48px;
            svg {
                margin-right: 10px;
            }
            &.collapsed svg {
                @include vendor-prefixes(transform, rotate(-90deg));
            }
        }
    }
    
    .card-body {
        padding: 0;
        margin-bottom: 2rem;
        
        h3 {
            padding-left: 40px;
            margin-top: 3rem;
            font-size: 24px;
            line-height: 36px;
            &:first-child {
                margin-top: 2rem;
            }
        }
    }
    
    #ready h3 {
        background: url(../img/graphics/roadmap-status/roadmap-ico-ready.png) no-repeat left center;
        background: url(../img/graphics/roadmap-status/roadmap-ico-ready.svg) no-repeat left center;
    }
    #dev h3 {
        background: url(../img/graphics/roadmap-status/roadmap-ico-development.png) no-repeat left center;
        background: url(../img/graphics/roadmap-status/roadmap-ico-development.svg) no-repeat left center;
    }
    #planned h3 {
        background: url(../img/graphics/roadmap-status/roadmap-ico-planned.png) no-repeat left center;
        background: url(../img/graphics/roadmap-status/roadmap-ico-planned.svg) no-repeat left center;
    }
    #hold h3 {
        background: url(../img/graphics/roadmap-status/roadmap-ico-hold.png) no-repeat left center;
        background: url(../img/graphics/roadmap-status/roadmap-ico-hold.svg) no-repeat left center;
    }
    #cancelled h3 {
        background: url(../img/graphics/roadmap-status/roadmap-ico-cancelled.png) no-repeat left center;
        background: url(../img/graphics/roadmap-status/roadmap-ico-cancelled.svg) no-repeat left center;
    }
    
}