// Search

.ais-SearchBox-form {
	background-color: transparent;
}

.ais-SearchBox {
	width: 400px;
}

.ais-Hits-item {
	//background-color: lightgrey;
	padding: 0;
	//box-shadow: none;
	margin-bottom: 0;

	a {
		margin: 0 !important;
		text-transform: none !important;
		letter-spacing: 0 !important;
		font-size: inherit !important;
		color: $alembapink !important;
	}
}

#hits {
	background-color: darkgrey;
	position: absolute;
	z-index: 5000;
	width: 400px;
	margin-top: 0.5rem;

	.list-group-item {
		background-color: transparent !important;
		border: 0 !important;
		border-bottom: 1px solid darkgrey;
		box-shadow: none;
		padding-bottom: 5px;

		&:hover {
			background-color: rgba(0,150,220,0.2) !important;
		}
	}

	.ais-Hits--empty {
		padding: 1rem;
	}
}