.tag-column {
	padding-left: 2rem;
}

.tag-filter {
	.tag-filter-tags {
		margin-bottom: 1rem;
	}
}

.filter-tag.magenta {
	background-color: $alembapink !important;
}

.tagged-item {
	opacity: 1;
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.tagged-item-hidden {
	opacity: 0;
	transform: translateY(10px);
	pointer-events: none;
}

.tagged-item-hidden.display-none {
	display: none;
}