//Industry Pages

.jumbotron.industryBanner {
    position: relative;
    background-size: 100vw auto !important;
    background-position: top center !important;

    header {
        margin-bottom: 5rem;
        .asm-logo {
            max-height: 75px;
            width: auto;
        }
        h1 {
            font-size: 3.5rem;
        }
    }
    /*
    .banner-gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        + .container {
            z-index: 1;
            position:relative;
        }
    }
    .banner-gradient-overlay.healthcare {
        background: rgb(6,23,60);
        background: -moz-linear-gradient(0deg, rgba(6,23,60,1) 0%, rgba(6,23,60,0) 100%);
        background: -webkit-linear-gradient(0deg, rgba(6,23,60,1) 0%, rgba(6,23,60,0) 100%);
        background: linear-gradient(0deg, rgba(6,23,60,1) 0%, rgba(6,23,60,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06173c",endColorstr="#06173c",GradientType=1);
    }
    .banner-gradient-overlay.finance {
        background: rgb(19,10,61);
        background: -moz-linear-gradient(0deg, rgba(19,10,61,1) 0%, rgba(19,10,61,0) 100%);
        background: -webkit-linear-gradient(0deg, rgba(19,10,61,1) 0%, rgba(19,10,61,0) 100%);
        background: linear-gradient(0deg, rgba(19,10,61,1) 0%, rgba(19,10,61,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#130a3d",endColorstr="#130a3d",GradientType=1);
    }
    .banner-gradient-overlay.government {
        background: rgb(6,39,44);
        background: -moz-linear-gradient(0deg, rgba(6,39,44,1) 0%, rgba(6,39,44,0) 100%);
        background: -webkit-linear-gradient(0deg, rgba(6,39,44,1) 0%, rgba(6,39,44,0) 100%);
        background: linear-gradient(0deg, rgba(6,39,44,1) 0%, rgba(6,39,44,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06272c",endColorstr="#06272c",GradientType=1);
    }
    .banner-gradient-overlay.utilities {
        background: rgb(43,8,31);
        background: -moz-linear-gradient(0deg, rgba(43,8,31,1) 0%, rgba(43,8,31,0) 100%);
        background: -webkit-linear-gradient(0deg, rgba(43,8,31,1) 0%, rgba(43,8,31,0) 100%);
        background: linear-gradient(0deg, rgba(43,8,31,1) 0%, rgba(43,8,31,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b081f",endColorstr="#2b081f",GradientType=1);
    }
    + .container.copy {
        margin-top: 0;
    }
    */
}
    

.resource-hub {
    background-color: rgba(255,255,255,0.04);
    border-radius: 4px;
    padding-left: 2rem;
    padding-right: 2rem;
}
/*
body.page-healthcare {
    background-color: #06173C;
    .copy, .copy p, .copy h1, .copy h2, .copy h3, .copy h4, .copy ul, .copy ol {
        color: white;
    }
}

body.page-finance {
    background-color: #130A3D;
    .copy, .copy p, .copy h1, .copy h2, .copy h3, .copy h4, .copy ul, .copy ol {
        color: white;
    }
}

body.page-local-government {
    background-color: #06272C;
    .copy, .copy p, .copy h1, .copy h2, .copy h3, .copy h4, .copy ul, .copy ol {
        color: white;
    }
}

body.page-utilities {
    background-color: #2B081F;
    .copy, .copy p, .copy h1, .copy h2, .copy h3, .copy h4, .copy ul, .copy ol {
        color: white;
    }
}
*/