// Our values

.value {
	background-color: $lightgrey;
	padding: 2rem;
	color: white;
	margin-bottom: 2rem;

	h3 {
		color: $alembablue;
		margin-top: 0 !important;
	}

	p {
		margin-bottom: 0 !important;
		color: $darkgrey;
	}

	.value-icon {
		width: 3rem;
		float: left;
		text-align: center;

		svg {
			fill: rgb(244,194,0) !important;
			max-height: 3rem;
		}
	}

	.value-text {
		margin-left: 4.5rem;
	}
}