$alembablue: #0096DC;
$alembapink: #F20093;
$textcolor: #404040;
$offwhite: #FAFAFA;
$lightgrey: #F4F4F4;
$midlightgrey: #EBEBEB;
$midgrey: #9C9C9C;
$darkgrey: #333333;

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.1;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.1;}
}