@import '_variables';

a {
	color: $alembablue;

	&:hover {
		color: $alembapink;
	}

}

.spaced-caps-link {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: underline;
}

.search-with-button {
	position: relative;
}

.rounded-input {
	padding: 1.5rem;
	border-radius: 1rem;
	font-size: 1.2rem;
	line-height: 2rem;
	height: 70px;
	position: absolute;
}

.rounded-input-button {
	padding: 1rem 1.5rem 1rem 1.5rem;
	font-size: 1.2rem;
	line-height: 2.2rem;
	border: 0;
	border-radius: 0 1rem 1rem 0;
	border-left: 1px solid #ced4da;
	background-color: $midlightgrey;
	position: absolute;
	right: 0;
	height: 69px;

	&:hover {
		background-color: $midgrey;
	}
}

.overlapping-input-button {
	position: absolute;
	font-size: 1.2rem;
	line-height: 4.2rem;
	right: 6rem;
}

// Hack to get icons appearing in Madcap Flare

ul.navigation {

	li {
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 16px 16px;
		padding-top: 20px;
	}

	li {
		background-image: url('../img/icon-menu-home-32px.png');

		& + li {
			background-image: url('../img/icon-menu-portal-32px.png');

			& + li {
				background-image: url('../img/icon-menu-new-32px.png');

				& + li {
					background-image: url('../img/icon-menu-install-32px.png');

					& + li {
						background-image: url('../img/icon-menu-setup-32px.png');

						& + li {
							background-image: url('../img/icon-menu-integrate-32px.png');

							& + li {
								background-image: url('../img/icon-menu-configure-32px.png');

								& + li {
									background-image: url('../img/icon-menu-manage-32px.png');

									& + li {
										background-image: url('../img/icon-menu-use-32px.png');
									}

								}

							}

						}

					}

				}

			}

		}

	}

}

.large-banner-solid {
	background-color: $alembablue;
	padding: 1.5rem;

	* {
		color: white;
		text-align: center;
	}

	h3 {
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 3px;
		margin-bottom: 0;
	}

	a {
		margin-left: 1rem;
	}
}

.large-banner-with-image {
	background-image: url('../img/bkg-image-searchbar@2x.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3rem;
	height: 280px;

	h1 {
		color: white;
		font-family: "Neutraface Text";
		text-align: center;
		font-size: 3.5rem;
		text-shadow: 0 0 10px rgba(0,0,0,0.85);
		margin-bottom: 2rem;
	}

}

.content {
	background-color: rgb(245,245,245);
	padding: 2rem;

	h3 {
		font-family: "Neutraface Text";
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}
}

#columnReleases {
	padding-right: 3rem;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}

#columnFeatured {
	border-left: 1px solid $midgrey;
	padding-left: 3rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.featuredItem {
	border-radius: 4px;
	border: 1px solid $midgrey;
	background-color: white;
	padding: 1.5rem;
	background-repeat: no-repeat;
	background-position: top left;
	display: inline-block;
	width: 180px;
	height: 255px;
	vertical-align: top;
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;

	h4 {
		font-size: 1.1rem;
		text-align: center;
		margin-top: 180px;
	}
}

.softwareVersion {

	h1 {
		font-size: 1.5rem;
		margin-top: 0;
	}

	h4 {
		font-size: 0.8rem;
	}

	.releaseNotesIcon {
		color: $midgrey;
		margin-right: 10px;
	}

	.softwareVersionIcon {
		float: left;
		width: 40px;
		padding-top: 5px;
	}

	.softwareVersionText {
		margin-left: 60px;

		h1 {
			margin-bottom: 0.5rem;
		}
	}

}

.footer {
	padding-left: 0;

	h5 {
		font-family: "Neutraface Text";
		font-size: 0.8rem;
		color: $midgrey;
	}

	#footerMenu {
		padding: 2rem;

		a {
			font-size: 0.85rem;
		}

	}

	#footerContact {
		background-image: url('../img/bkg-image-footer@2x.jpg');
		padding: 3rem;
		text-align: center;
		color: white;

		.footerContactLink {
			display: inline-block;
			text-align: center;

			.footerContactLinkIcon {
				float: left;
				width: 40px;

				.linkIcon {
					font-size: 3rem;
					color: $alembapink;
				}

			}

			.footerContactLinkText {
				text-align: left;
				margin-left: 65px;

				h1 {
					font-size: 1.3rem;
				}

				h4 {
					font-size: 1.1rem;
					color: white;
				}

			}

		}

	}

	#footerCopyright {
		padding: 1.5rem;

		p {
			font-size: 0.7rem;
			color: $midgrey;
			margin: 0;
		}
		
	}

}