description = "Footer without nav links"
==
<!-- FOOTER -->
<footer>
    <div class="social-badges">
        <ul class="footer-connect-icons list-inline list-unstyled">
            <li><a href="https://twitter.com/alemba" target="_blank"><img src="{{ 'assets/img/i-social-tw.png'|theme }}" alt="Twitter"></a></li>
            <li><a href="https://www.facebook.com/alembagroup" target="_blank"><img src="{{ 'assets/img/i-social-fb.png'|theme }}" alt="Facebook"></a></li>
            <li><a href="https://www.linkedin.com/company/alemba" target="_blank"><img src="{{ 'assets/img/i-social-in.png'|theme }}" alt="Linked In"></a></li>
        </ul>
    </div>
    <div class="container-fluid footer">
        <div class="row">

            <div class="col-md-8 footer-left-block">
                <div class="row">

                    <div class="col-sm-6 about-alemba">
                        <h2>About Alemba</h2>
                        <p>Alemba develops Alemba Service Manager, a highly functional, ITIL-aligned IT Service Management tool with a specific focus on request fulfilment. Backed by 25 years of heritage, Alemba Service Manager enables users to respond quickly to business demands by dramatically reducing time to request fulfilment through automated workflowed integration.</p>
                        <p>Alemba’s unique pricing model takes into account different levels of participation in your organization, offering an interface for every kind of user.</p>
                        <p>With a strong consultancy background, unrivalled expertise in the Service Management market, and a strong focus on customer experience, Alemba is ideally positioned to deliver a successful, end-to-end Service Management project within your organization.</p>
                        <p>&nbsp;</p>
                    </div>

                    <nav class="col-sm-3 footer-nav">
                        
                    </nav>

                    <div class="col-sm-3">
                        
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <h2>Accreditations</h2>
                        <ul class="footer-partner-badges list-inline list-unstyled">
                            {# <li class="list-inline-item"><a href="https://www.pinkelephant.com/en-us/PinkVERIFY/PinkVERIFY-ITIL-4-Toolsets"><img class="lazyload" data-src="{{ 'assets/img/partner-logos/logo-pinkverify15p-itil4-50h.png'|theme }}" alt="PinkVERIFY ITIL4 - 15 Practices" /></a></li> #}
                            <li class="list-inline-item"><img src="{{ 'assets/img/partner-logos/logo-pinkverify-certified.png'|theme }}" alt="PinkVERIFY Certified" /></li>
                            <li class="list-inline-item"><img src="{{ 'assets/img/partner-logos/logo-microsoft-silver-partner-footer-50h.png'|theme }}" alt="Microsoft Silver Partner" /></li>
                            <li class="list-inline-item"><img src="{{ 'assets/img/partner-logos/logo-aws-50h.png'|theme }}" alt="Amazon Web Services Partner Network - Consulting Partner" /></li>
                            {# <li class="list-inline-item"><img src="{{ 'assets/img/partner-logos/logo-cio-50h.png'|theme }}" alt="CIO Applications - Top 25 Workflow Solution Providers 2017" /></li> #}
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-4 footer-right-block">

            </div>

        </div>
    </div>

</footer> <!-- END FOOTER -->

{% partial 'footer-scripts-styles' %}

</body>

</html>