description = "The footer code"

[ssbuttonsssb]
facebook = 1
twitter = 1
google+ = 0
tumblr = 0
pinterest = 0
pocket = 0
reddit = 0
linkedin = 1
wordpress = 0
pinboard = 0
email = 0
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "flat_web_icon_set_color"
==
<!-- FOOTER -->
<footer>
    <div class="social-badges">
        <ul class="footer-connect-icons list-inline list-unstyled">
            <li><a href="https://twitter.com/alemba" target="_blank" rel="noreferrer noopener"><img src="{{ 'assets/img/i-social-tw.png'|theme }}" alt="Twitter"></a></li>
            <li><a href="https://www.facebook.com/alembagroup" target="_blank" rel="noreferrer noopener"><img src="{{ 'assets/img/i-social-fb.png'|theme }}" alt="Facebook"></a></li>
            <li><a href="https://www.linkedin.com/company/alemba" target="_blank" rel="noreferrer noopener"><img src="{{ 'assets/img/i-social-in.png'|theme }}" alt="Linked In"></a></li>
        </ul>
    </div>
    <div class="container-fluid footer">
        <div class="row">

            <div class="col-md-8 footer-left-block">
                <div class="row">

                    <div class="col-sm-6 about-alemba">
                        <h2>About Alemba</h2>
                        <p>Alemba develops Alemba Service Manager, a highly functional, ITIL-aligned IT Service Management tool with a specific focus on request fulfilment. Backed by 25 years of heritage, Alemba Service Manager enables users to respond quickly to business demands by dramatically reducing time to request fulfilment through automated workflowed integration.</p>
                        <p>Alemba’s unique pricing model takes into account different levels of participation in your organization, offering an interface for every kind of user.</p>
                        <p>With a strong consultancy background, unrivalled expertise in the Service Management market, and a strong focus on customer experience, Alemba is ideally positioned to deliver a successful, end-to-end Service Management project within your organization.</p>
                    </div>

                    <nav class="col-sm-3 footer-nav">
                        <h2>Engage</h2>

                        <ul class="list-unstyled">
                            <li><a href="{{ 'demo'|page }}">Request a Demo</a></li>
                            <li><a href="{{ 'contact'|page }}">Contact Us</a></li>
                            <li><a href="{{ 'privacy-policy'|page }}">Privacy Policy</a></li>
                            <li><a href="{{ 'our-values'|page }}">Our Values</a></li>
                        </ul>

                        <h2>Learn</h2>
                        <ul class="list-unstyled">
                            <li><a href="/blog/news">News</a></li>
                            <li><a href="{{ 'blog'|page({ category: 'thoughts' }) }}">Blog</a></li>
                            <li><a href="{{ 'blog'|page({ category: 'news' }) }}">News</a></li>
                            <li><a href="{{ 'events'|page }}">Events</a></li>
                            <li><a href="{{ 'it-service-management'|page }}">IT Service Management</a></li>
                            <li><a href="{{ 'hr-service-management'|page }}">HR Service Request Management</a></li>
                            <li><a href="{{ 'facilities-management'|page }}">Facilities Service Management</a></li>
                            <li><a href="{{ 'resources'|page }}">Resources</a></li>
                        </ul>
                    </nav>

                    <div class="col-sm-3">
                        
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <h2>Accreditations</h2>
                        <ul class="footer-partner-badges list-inline list-unstyled">
                            {# <li class="list-inline-item"><a href="https://www.pinkelephant.com/en-us/PinkVERIFY/PinkVERIFY-ITIL-4-Toolsets"><img class="lazyload" data-src="{{ 'assets/img/partner-logos/logo-pinkverify15p-itil4-50h.png'|theme }}" alt="PinkVERIFY ITIL4 - 15 Practices" /></a></li> #}
                            <li class="list-inline-item"><img class="lazyload" data-src="{{ 'assets/img/partner-logos/logo-pinkverify-certified-18p.png'|theme }}" alt="PinkVERIFY Certified" /></li> 
                            <li class="list-inline-item"><img class="lazyload" data-src="{{ 'assets/img/partner-logos/logo-microsoft-silver-partner-footer-50h.png'|theme }}" alt="Microsoft Silver Partner" /></li>
                            <li class="list-inline-item"><img class="lazyload" data-src="{{ 'assets/img/partner-logos/logo-aws-50h.png'|theme }}" alt="Amazon Web Services Partner Network - Consulting Partner" /></li>
                            <li class="list-inline-item"><a href="https://alemba.com/blog/news/gigaom-outperformer-alemba-radar-report-it-service-management-itsm-2023"><img class="lazyload" style="height:100px;" data-src="{{ 'Badges/badge_gigaom_2023_outperformer.svg'|media }}" alt="Gigaom Radar Report: ITSM Outperformer 2023" /></a></li>
                            <li class="list-inline-item"><a href="https://alemba.com/blog/news/gigaom-outperformer-alemba-radar-report-it-service-management-itsm-2023"><img class="lazyload" style="height:100px;" data-src="{{ 'Badges/badge_gigaom_2023_leader.svg'|media }}" alt="Gigaom Radar Report: ITSM Leader 2023" /></a></li>
                            {# <li class="list-inline-item"><img class="lazyload" data-src="{{ 'assets/img/partner-logos/logo-cio-50h.png'|theme }}" alt="CIO Applications - Top 25 Workflow Solution Providers 2017" /></li> #}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h2>Share</h2>
                
                        {% component 'ssbuttonsssb' %}
                    </div>
                </div>

            </div>

            <div class="col-md-4 footer-right-block">

                <h2>Newsletter</h2>
                <p>Sign up to receive the latest news</p>
                <div class="renderNewsletterForm5c791353e7369"></div>

                {% component 'renderNewsletterForm' %}
                
                {# <a href="https://www.businessmag.co.uk/thames-valley-100/"><img data-src="{{ 'Banners/banner-100-TVG.jpg'|media }}" class="d-block img-fluid mx-auto lazyload" style="border: 1px solid white; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);" alt="Thames Valley SME 100 Growth Index Company"></a> #}

            </div>

        </div>
    </div>

</footer> <!-- END FOOTER -->

{% partial 'footer-scripts-styles' %}

</body>

</html>