==
{# The following should get minified if CMS_ASSET_MINIFY=true is set in .env #}

<script src="{{ [
    'assets/node_modules/jquery/dist/jquery.min.js',
    'assets/node_modules/bootstrap/dist/js/bootstrap.min.js',
    'assets/node_modules/lazysizes/lazysizes.min.js',
    'assets/node_modules/lazysizes/plugins/unveilhooks/ls.unveilhooks.min.js',
    'assets/node_modules/lazysizes/plugins/bgset/ls.bgset.min.js',
    'assets/node_modules/jquery.cookie/jquery.cookie.min.js',
    'assets/js/scripts.min.js',
    '@framework',
    '@framework.extras'
]|theme }}"></script>

{# <script src="{{ 'assets/js/jquery.validate.min.js'|theme }}"></script> #}

{% styles %}
{% scripts %}

{% partial 'linkedin-tag' %}
{% partial 'hubspot-tag' %}