==
<!-- Bootstrap etc-->
<link rel="stylesheet" media="all" href="{{ ['assets/node_modules/bootstrap/dist/css/bootstrap.min.css','assets/css/style.min.css']|theme }}" />


<!-- Google Fonts and FontAwesome -->
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" as="style">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
<link rel="preload" href="{{ 'assets/fonts/NeutrafaceText-Book.woff'|theme }}" as="font" crossorigin>
<link rel="preload" href="{{ 'assets/fonts/NeutrafaceText-Book.woff2'|theme }}" as="font" crossorigin>

<!-- Styles -->
<link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
<link rel="stylesheet" type="text/css" media="print" href="{{ 'assets/css/print.css'|theme }}?v={{ 'now'|date('U') }}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->