<div class="container mt-5 mb-5">

	<div class="row align-items-center">

		<div class="col">

			<h4 class="text-center mb-4">Whatever you want your ITSM tool to do, Alemba Service Manager has a solution to help you optimize your service management processes.</h4>

		</div>

	</div>

	<div class="row justify-content-center">

		<div class="col-12 col-sm-5 col-md-4">

			<div class="dropdown" id="i-want-select">
				<a class="btn btn-lg dropdown-toggle mx-auto blue-select" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">I want...</a>

				<div class="dropdown-menu blue-select-dropdown" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="{{ 'i-want-automation'|page }}">To automate everything</a>
					<a class="dropdown-item" href="{{ 'i-want-digitization'|page }}">To ditch those paper forms</a>
					<a class="dropdown-item" href="{{ 'i-want-self-service'|page }}">Fewer calls to the Helpdesk</a>
				</div>
			</div>

		</div>

	</div>

	<div class="row align-items-center mt-4">

		<div class="col-12">

			<p class="text-center"><small><a href="{{ 'i-want'|page }}">Back to the <strong>I Want</strong> homepage</a></small></p>

		</div>

	</div>

</div>