description = "floating page popup"
==
<div id="popup" style="display: none;">
    
    <div class="popup-wrapper">
    
        <div class="popup-img" style="background-image: url({{ 'Gartner/thumbnail-gartner-itsm-hype-cycle.jpg'|media }})"></div>
        
        <div class="popup-body">
            <img src="{{ 'Misc/gartner-logo-40h.png'|media }}" alt="Gartner" class="popup-logo d-block img-fluid">
            <h2>Complimentary Report:<br>Hype Cycle&trade; for ITSM, 2022</h2>
            <a href="{{ 'gartner-report-form'|page }}" class="btn btn-prinary">Read the report</a>
        </div>
        
        <button type="button" class="close" aria-label="Close" id="popup-close" onClick="removeModal('#popup')">
          <span aria-hidden="true">&times;</span>
        </button>
        
    </div>

</div>