<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://alemba.com/">
<meta property="og:title" content="Alemba">
<meta property="og:description" content="Alemba develops Alemba Service Manager, a highly functional, ITIL-aligned IT Service Management tool with a specific focus on request fulfilment.">
<meta property="og:image" content="{{ 'Social/social-graph-image.png'|media }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://alemba.com/">
<meta property="twitter:title" content="Alemba">
<meta property="twitter:description" content="Alemba develops Alemba Service Manager, a highly functional, ITIL-aligned IT Service Management tool with a specific focus on request fulfilment.">
<meta property="twitter:image" content="{{ 'Social/social-graph-image.png'|media }}">