/vendor/
/node_modules/
/storage/*
!/storage/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Environment & local files
.env
.env.*.local
.phpunit.result.cache
.php-cs-fixer.cache

# October CMS cache/artifacts
/public/storage/*
/public/combine/*
/public/uploads/*
/storage/cms/cache/*
/storage/cms/combiner/*
/storage/cms/twig/*
/storage/temp/*

# IDE / OS
/.idea/
/.vscode/
/*.code-workspace
.DS_Store
Thumbs.db

# Build outputs
/public/build/
/public/hot
