description = "Banner showing Customer logos"
==
<div class="jumbotron jumbotron-fluid customers">
    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.kroger.com/{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-kroger.png'|theme }}" alt="Kroger" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.cibc.com{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-cibc.png'|theme }}" alt="CIBC" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.daimler.com{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-daimler.png'|theme }}" alt="Daimler" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.aqa.org.uk{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-aqa.png'|theme }}" alt="AQA" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.portsmouth.gov.uk{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-portsmouth-cc.png'|theme }}" alt="Portsmouth City Council" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.hiscox.co.uk{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-hiscox.png'|theme }}" alt="Hiscox" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://cfa.nhs.uk/{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-nhs-cfa.png'|theme }}" alt="NHS Counter Fraud Authority" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.verizon.com{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-verizon.png'|theme }}" alt="Verizon" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.games-workshop.com{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-gw.png'|theme }}" alt="Games Workshop" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.capita.com{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-capita.png'|theme }}" alt="Capita" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.ppg.com{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-ppg.png'|theme }}" alt="PPG Industries" class="img-fluid d-block mx-auto lazyload"></a>
            </div>            

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.luxairgroup.lu{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-luxair.png'|theme }}" alt="Luxair" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.thalesgroup.com{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-thales.png'|theme }}" alt="Thales" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.nokia.com{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-nokia.png'|theme }}" alt="Nokia" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.wlu.ca{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-wilfred-laurier.png'|theme }}" alt="Wilfred Laurier University" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.apsbank.com.mt{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-aps.png'|theme }}" alt="APS Bank" class="img-fluid d-block mx-auto lazyload"></a>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.lifeline.philips.com{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-philips.png'|theme }}" alt="Philips Lifeline" class="img-fluid d-block mx-auto lazyload"></a>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://liverpool.gov.uk{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-liverpool.png'|theme }}" alt="Liverpool City Council" class="img-fluid d-block mx-auto lazyload"></a>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.worcester.gov.uk{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-worcestershire.png'|theme }}" alt="Worcestershire City Council" class="img-fluid d-block mx-auto lazyload"></a>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 my-auto">
                <a href="{% if this.page.id != 'customers' %}{{ 'customers'|page }}{% else %}https://www.swansea.gov.uk/{% endif %}"><img data-src="{{ 'assets/img/customer-logos/customer-swansea.png'|theme }}" alt="Swansea Council" class="img-fluid d-block mx-auto lazyload"></a>
            </div>

        </div>

        {% if this.page.id != 'customers' %}
        <div class="row">

            <div class="col">
                <div class="cta-button">
                    <a href="{{ 'customers'|page }}" class="btn btn-primary">Find out what our customers have to say</a>
                </div>
            </div>

        </div>
        {% endif %}
        
    </div>
</div>