description = "Banner linking to ROI article"
==
<div class="jumbotron jumbotron-fluid investment light-grey">
    <div class="container">
        <div class="row">
           
            <div class="col my-auto text-center">
                <h2 class="text-center">Maximise Your Software Investment</h2>
                
                <img src="{{ 'assets/img/graphics/icon-large-investment.svg'|theme }}" alt="" class="d-block mx-auto">
                
                <p>Low total cost of ownership-software that will make your auditor smile.</p>
                
                <div class="cta-button text-center">
                    <a href="" class="btn btn-primary">Find out more</a>
                </div>
            </div>

            
        </div>
    </div>
</div>