description = "Banner linking to ITSM Page"
==
<div class="jumbotron jumbotron-fluid itsm dark fixed-parallax lazyload" data-bgset="{{ 'assets/img/banners/banner-bg-itsm-para@0.5x.jpg'|theme }} [(max-width: 750px)] | {{ 'assets/img/banners/banner-bg-itsm-para.jpg'|theme }}">
    <div class="container">
        <div class="row">

            <div class="col-md-7 my-auto">
                <h2>IT Service Management</h2>

                <p>Alemba offers an intuitive, ITIL-aligned ITSM solution to help your business streamline its service management processes and enhance service delivery.</p>

                <div class="cta-button">
                    <a href="{{ 'it-service-management'|page }}" class="btn btn-white">Find out more</a>
                </div>
            </div>

            <div class="col-md-5 my-auto">
                <img src="{{ 'assets/img/graphics/icon-section-itsm-white.svg'|theme }}" alt="ITSM Icon" class="img-fluid d-block mx-auto icon-large">
            </div>

        </div>
    </div>
</div>