description = "Front Page top Banner"
==
<div class="jumbotron jumbotron-fluid homepage-banner-strip">
    <div class="container-fluid">
        <div class="row">
            <div class="col homepage-banner-strip-content">
                {#
                <img class="img-fluid" src="{{ 'Misc/logo-govuk.png'|media }}" alt="gov.uk">
                <h5><a href="{{ 'blog-entry'|page({ category: 'news', slug: 'alemba-service-manager-now-available-g-cloud-13' }) }}">Now available on G-Cloud 13</a></h5>
                #}
                
                <h5><a href="https://alemba.com/events/digigov-2024"><i class="fa fa-calendar mr-2"></i>VISIT US AT THE DIGIGOV EXPO - LONDON 24-25 SEPTEMBER</a></h5>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid white asm">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md my-auto">
                <img src="{{ 'assets/img/asm-screen-fp-banner.png'|theme }}" alt="Alemba Service Manager Screen" class="img-fluid d-block mx-auto asm-screen">
            </div>

            <div class="col-md my-auto">
                <img src="{{ 'assets/img/alemba-service-manager-logo-300w.svg'|theme }}" alt="Alemba Service Manager Logo" class="img-fluid d-block asm-logo">
                <h1>IT Service Management</h1>
                <hr>
                <h2>From <span class="alembablue">I want</span> to <span class="alembablue">I have</span>. Now.</h2>
                <p class="enter-6">Keep pace with your customers through lightning fast request fulfilment.</p>
                <div class="cta-button enter-7">
                    <a href="{{ 'demo'|page }}" class="btn btn-primary">Demo?</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% partial "font-awesome" %}