description = "Banner linking to industry vertical pages"
==
<div class="jumbotron jumbotron-fluid verticals grey dark">
    <div class="container">

            <div class="col">
                <h3 class="text-center">See how Alemba Service Manager works in your industry.</h3>
            </div>


        <div class="row align-items-end">
            <div class="col-md text-center align-items-end">
                <img src="{{ 'assets/img/graphics/icon-section-education-white.svg'|theme }}" alt="" class="img-fluid d-block mx-auto">
                <a href="{{ 'higher-education'|page }}" class="btn btn-white">Education</a>
            </div>
            <div class="col-md text-center align-items-end">
                <img src="{{ 'assets/img/graphics/icon-section-retail-white.svg'|theme }}" alt="" class="img-fluid d-block mx-auto">
                <a href="{{ 'retail'|page }}" class="btn btn-white">Retail</a>
            </div>
            <div class="col-md text-center align-items-end">
                <img src="{{ 'assets/img/graphics/icon-section-gov-white.svg'|theme }}" alt="" class="img-fluid d-block mx-auto">
                <a href="{{ 'local-authorities'|page }}" class="btn btn-white">Local Authorities</a>
            </div>
            <div class="col-md text-center align-items-end">
                <img src="{{ 'assets/img/graphics/icon-section-radio-white.svg'|theme }}" alt="" class="img-fluid d-block mx-auto">
                <a href="{{ 'managed-service-providers'|page }}" class="btn btn-white">Managed Service Providers</a>
            </div>
        </div>


    </div>
</div>