description = "Banner linking to HR & Facilities Pages"
==
<div class="jumbotron jumbotron-fluid esm fixed-parallax lazyload" data-bgset="{{ 'assets/img/banners/banner-bg-esm-para@0.5x.jpg'|theme }} [(max-width: 750px)] | {{ 'assets/img/banners/banner-bg-esm-para.jpg'|theme }}">
    <div class="container">
        <div class="row">

            <div class="col-md-7 my-auto">
                <h2>HR and Facilities Service Management</h2>

                <p>Find out how Alemba Service Manager can help departments such as HR and Facilities deliver better services and user experiences to their customers.</p>

                <div class="row">
                    <div class="col-sm-6 cta-button">
                        <a href="{{ 'hr-service-management'|page }}" class="btn btn-primary">HR Service Management</a>
                    </div>
                    <div class="col-sm-6 cta-button">
                        <a href="{{ 'facilities-management'|page }}" class="btn btn-primary">Facilities Service Management</a>
                    </div>
                </div>
            </div>

            <div class="col-md-5 my-auto">
                <img src="{{ 'assets/img/graphics/icon-section-business.svg'|theme }}" alt="ESM Icon" class="img-fluid d-block mx-auto icon-large">
            </div>

        </div>
    </div>
</div>