description = "Banner showing carousel of awards and nominations"
==
<div class="jumbotron jumbotron-fluid achievements lazyload" data-bgset="{{ 'assets/img/banners/banner-achievements@0.5x.jpg'|theme }} [(max-width: 750px)] | {{ 'assets/img/banners/banner-achievements.jpg'|theme }}">
    <div class="container">
        <h2 class="text-center mb-3">Industry Achievements</h2>
    </div>
        
    <div id="achievementsCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#achievementsCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#achievementsCarousel" data-slide-to="1"></li>
            <li data-target="#achievementsCarousel" data-slide-to="2"></li>
            <li data-target="#achievementsCarousel" data-slide-to="3"></li>
            <li data-target="#achievementsCarousel" data-slide-to="4"></li>
            <li data-target="#achievementsCarousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
        
            <div class="carousel-item active">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-sm-3 my-auto">
                            <img src="{{ 'Achievements/itsm-review.png'|media }}" alt="ITSM Review" class="img-fluid d-block mx-auto">
                        </div>
                        <div class="col-md-6 col-sm-8 my-auto">
                            <p style="font-size: 18px">“Best in Class” award for Proactive Problem Management by the independent ITSM Review panel</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-sm-3 my-auto">
                            <img src="{{ 'Achievements/devops-2018.png'|media }}" alt="DevOps Industry Awards Finalist" class="img-fluid d-block mx-auto">
                        </div>
                        <div class="col-md-6 col-sm-8 my-auto">
                            <p style="font-size: 18px">Finalist for the 2018 DevOps Industry Awards in the category Best DevOps Automation Project with our customer Liverpool City Council</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-sm-3 my-auto">
                            <img src="{{ 'Achievements/sdi-2018.png'|media }}" alt="SDI IT Service & Support Awards 2018" class="img-fluid d-block mx-auto">
                        </div>
                        <div class="col-md-6 col-sm-8 my-auto">
                            <p style="font-size: 18px">SDI IT Service & Support Awards: Finalist for the Best Implementation Award with Liverpool City Council</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-sm-3 my-auto">
                            <img src="{{ 'Achievements/sdi-2017.png'|media }}" alt="SDI IT Service & Support Awards 2017" class="img-fluid d-block mx-auto">
                        </div>
                        <div class="col-md-6 col-sm-8 my-auto">
                            <p style="font-size: 18px">SDI IT Service & Support Awards: Shortlisted for Best Implementation of an ITSM solution with Glasgow Caledonian University</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-sm-3 my-auto">
                            <img src="{{ 'Achievements/sdi-2016.png'|media }}" alt="SDI IT Service & Support Awards 2016" class="img-fluid d-block mx-auto">
                        </div>
                        <div class="col-md-6 col-sm-8 my-auto">
                            <p style="font-size: 18px">SDI IT Service & Support Awards: Alemba customer Barnardo’s is shortlisted in the Best Small Service Desk category</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-sm-3 my-auto">
                            <img src="{{ 'Achievements/cio-2017.png'|media }}" alt="CIO Top 25 Workflow Solution Providers" class="img-fluid d-block mx-auto">
                        </div>
                        <div class="col-md-6 col-sm-8 my-auto">
                            <p style="font-size: 18px">CIO Application Magazine named Alemba among the Top 25 Workflow Solution Providers</p>
                        </div>
                    </div>
                </div>
            </div>


            <a class="carousel-control-prev" href="#achievementsCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#achievementsCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            
        </div>
    </div>     
    
</div>