description = "Carousel showing customer logos"
==
<div class="jumbotron jumbotron-fluid customers-carousel" style="margin-bottom: 2rem;">
    <div class="carousel slide"  data-ride="carousel">
        <h2 class="text-center">Trusted by</h2>

        <div class="carousel-inner">
        
            <div class="carousel-item active">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-kroger.png'|theme }}" alt="Kroger" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src=" {{ 'assets/img/customer-logos/customer-cibc.png'|theme }}" alt="CIBC" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-daimler.png'|theme }}" alt="Daimler" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-roche.png'|theme }}" alt="Roche" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row justify-content-center"> 
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-sony.png'|theme }}" alt="Sony" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-hiscox.png'|theme }}" alt="Hiscox" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-nhs-cfa.png'|theme }}" alt="NHS Counter Fraud Authority" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-verizon.png'|theme }}" alt="Verizon" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-gw.png'|theme }}" alt="Games Workshop" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-capita.png'|theme }}" alt="Capita" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-boehringer.png'|theme }}" alt="Boehringer Ingelheim" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-luxair.png'|theme }}" alt="Luxair" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-thales.png'|theme }}" alt="Thales" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-nokia.png'|theme }}" alt="Nokia" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-bae.png'|theme }}" alt="BAE Systems" class="img-fluid d-block mx-auto">
                        </div>
            
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-deloitte.png'|theme }}" alt="Deloitte" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-philips.png'|theme }}" alt="Philips Lifeline" class="img-fluid d-block mx-auto">
                        </div>
                        
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-liverpool.png'|theme }}" alt="Liverpool City Council" class="img-fluid d-block mx-auto">
                        </div>
                        
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-worcestershire.png'|theme }}" alt="Worcestershire City Council" class="img-fluid d-block mx-auto">
                        </div>
                        
                        <div class="col-6 col-md-3 my-auto">
                            <img src="{{ 'assets/img/customer-logos/customer-swansea.png'|theme }}" alt="Swansea Council" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>