<div id="homepage-featured" class="row">

  <div class="row g-0 row-cols-xs-1 row-cols-md-3">

    <div class="col featured p-5 ps-xl-2 text-light border-end d-flex justify-content-center align-items-center lazyload" data-bg="{{ 'Misc/bkg-purple-pixels.jpg'|media }}">

      <div class="row d-flex flex-fill flex-row justify-content-center align-items-center">

        <div class="col-12 col-lg-5 featured-image">
          <img class="img-fluid lazyload" data-src="{{ 'Misc/pic-alembot-face.png'|media }}" data-srcset="{{ 'Misc/pic-alembot-face@2x.png'|media }} 2x" alt=":)" />
        </div>

        <div class="col-12 col-lg-7 featured-text pt-5 pt-lg-0 pl-lg-5">
          <h4>Alemba Chatbot, at your service</h4>
          <h6>ASM Hermes 10.6</h6>

          <a class="btn btn-lg btn-outline pink" href="{{ 'release-detail'|page({ slug:'asm-10-6-hermes' }) }}#alembot-chatbot-feature" role="button">Read more</a>
        </div>

      </div>

    </div>

    <div class="col featured p-5 ps-xl-2 text-light bkg-navyblue d-flex justify-content-center align-items-center">

      <div class="row d-flex flex-fill flex-row justify-content-center align-items-center">

        <div class="col-12 col-lg-5 featured-image">
          <img class="img-fluid lazyload" data-src="{{ 'Badges/badge_gigaom_2023_leader.svg'|media }}" alt="GigaOm Leader 2023" />
        </div>

        <div class="col-12 col-lg-7 featured-text pt-5 pt-lg-0 pl-lg-5">
          <h4>Outperformer</h4>
          <h6>We're on GigaOm's radar</h6>

          <a class="btn btn-lg btn-outline pink" href="{{ 'blog-entry'|page({ category:'news', slug:'gigaom-outperformer-alemba-radar-report-it-service-management-itsm-2023' }) }}" role="button">Read more</a>
        </div>

      </div>

    </div>

    <div class="col featured p-5 ps-xl-2 text-dark border-start d-flex justify-content-center align-items-center lazyload" data-bg="{{ 'Misc/bkg-uk-flag.jpg'|media }}">

      <div class="row d-flex flex-fill flex-row justify-content-center align-items-center">

        <div class="col-12 col-lg-5 featured-image">
          <img class="img-fluid lazyload" data-src="{{ 'Misc/logo-govuk-black.png'|media }}" data-srcset="{{ 'Misc/logo-govuk-black.png'|media }} 2x" alt="GOV.UK" />
        </div>

        <div class="col-12 col-lg-7 featured-text pt-5 pt-lg-0 pl-lg-5">
          <h4>Government procurement made easy</h4>
          <h6>G-Cloud 14</h6>

          <a class="btn btn-lg btn-outline pink" href="{{ 'g-cloud'|page }}" role="button">Read more</a>
        </div>

      </div>

    </div>

  </div>

</div>