description = "The footer code"

[ssbuttonsssb]
facebook = 1
twitter = 1
google+ = 0
tumblr = 0
pinterest = 0
pocket = 0
reddit = 0
linkedin = 1
wordpress = 0
pinboard = 0
email = 0
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "flat_web_icon_set_color"
==
<?php
use Alemba\Alemba\Models\ITIL;

function onStart()
{
    // Get ITIL processes

    $this['itil'] = ITIL::orderBy('name')->get();

}
?>
==
<footer class="py-5">

    <div class="container-fluid footer">
        <div class="row">

            <div class="col-10 offset-1 footer-left-block">
                <div class="row">
              
                  <!-- Column 1: Key Features -->
                  <div class="col-10 col-lg-3 footer-nav">
                    <h5 class="nav-heading">ITSM Capabilities</h5>
                    <ul class="list-unstyled mb-5">
                      <li><a href="{{ 'incident-management'|page }}">Incident Management</a></li>
                      <li><a href="{{ 'change-management'|page }}">Change Management</a></li>
                      <li><a href="{{ 'service-request'|page }}">Service Request</a></li>
                      <li><a href="{{ 'problem-management'|page }}">Problem Management</a></li>
                      <li><a href="{{ 'cmdb'|page }}">CMDB</a></li>
                      <li><a href="{{ 'knowledge-management'|page }}">Knowledge Management</a></li>
                    </ul>
                  
                    <h5 class="nav-heading">Industries</h5>
                    <ul class="list-unstyled mb-5">
                      <li><a href="{{ 'healthcare'|page }}">Healthcare</a></li>
                      <li><a href="{{ 'government'|page }}">Government</a></li>
                      <li><a href="{{ 'finance'|page }}">Finance</a></li>
                      <li><a href="{{ 'education'|page }}">Education</a></li>
                      <li><a href="{{ 'utilities'|page }}">Utilities</a></li>
                      <li><a href="{{ 'manufacturing'|page }}">Manufacturing</a></li>
                    </ul>
                  </div>
                  
                  <!-- Column 2: Resources -->
                  <div class="col-10 col-lg-3">
                    <h5 class="nav-heading">Resources</h5>
                    <ul class="list-unstyled mb-5">
                      <li><a href="{{ 'blog'|page }}">Blog</a></li>
                      <li><a href="{{ 'whitepaper'|page }}">Whitepaper</a></li>
                      <li><a href="{{ 'success-stories'|page }}">Success Stories</a></li>
                      <li><a href="{{ 'webinar-events'|page }}">Webinar & Events</a></li>
                      <li><a href="{{ 'risk-calculator'|page }}">Risk Calculator</a></li>
                    </ul>
                  </div>
                  
                  <!-- Column 3: Company -->
                  <div class="col-10 col-lg-3">
                    <h5 class="nav-heading">Company</h5>
                    <ul class="list-unstyled mb-5">
                      <li><a href="{{ 'who-we-are'|page }}">Who we are</a></li>
                      <li><a href="{{ 'our-team'|page }}">Meet our team</a></li>
                      <li><a href="{{ 'partners'|page }}">Partners</a></li>
                      <li><a href="{{ 'careers'|page }}">Careers</a></li>
                    </ul>
                  </div>
                  
              
                  <!-- Column 4: Newsletter (keep as is) -->
                  <div class="col-12 col-lg-3 footer-right-block">
                    <h5 class="nav-heading">Newsletter</h5>
                    <div class="renderNewsletterForm5c791353e7369"></div>
                    <script src="https://js-eu1.hsforms.net/forms/embed/143827418.js" defer></script>
                    <div class="hs-form-frame" data-region="eu1" data-form-id="74d6af8d-834f-4ad5-b254-0ef528f1d7ec" data-portal-id="143827418"></div>
                  </div>
              
                </div>
              </div>
              

<div id="footer-left-block" class="col-10 offset-1 footer-left-block d-flex align-items-center justify-content-between border-top border-bottom py-3 border-secondary" >
    <div id="footer-socials">
        <ul class="my-0 list-inline">
            <li class="list-inline-item"><a href="https://www.youtube.com/@AlembaITSM" aria-label="Follow Alemba on YouTube"><i class="fa-brands fa-youtube"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/company/alemba/" aria-label="Follow Alemba on LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/alembagroup/" aria-label="Follow Alemba on Facebook"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/groups/13002769/" aria-label="Join Alemba's Customer Hub"><i class="nav-icon fa-kit fa-alemba-x fa-fw"></i> <small class="h6">LinkedIn Hub</small></a></li>
        </ul>
    </div>

    <ul class="my-0 footer-partner-badges list-inline list-unstyled gap-3 d-flex flex-wrap">
        <li class="list-inline-item "><a href="{{ 'blog'|page({ 'category':'news', 'slug':'gigaom-outperformer-alemba-radar-report-it-service-management-itsm-2023' }) }}?utm_source=website+footer&utm_medium=footer&utm_id=GigaOm"><img class="lazyload" style="height:100px;" data-src="{{ 'Badges/badge_gigaom_2023_outperformer.svg'|media }}" alt="Gigaom Radar Report: ITSM Outperformer 2023" /></a></li>
        <li class="list-inline-item "><a href="{{ 'blog'|page({ 'category':'news', 'slug':'gigaom-outperformer-alemba-radar-report-it-service-management-itsm-2023' }) }}?utm_source=website+footer&utm_medium=footer&utm_id=GigaOm"><img class="lazyload" style="height:100px;" data-src="{{ 'Badges/badge_gigaom_2023_leader.svg'|media }}" alt="Gigaom Radar Report: ITSM Leader 2023" /></a></li>
        <li class="list-inline-item "><a href="https://alemba.com/pinkverify"><img class="lazyload" style="height:50px;" data-src="{{ 'Badges/badge_pinkverify_certified_22p@2x.png'|media }}" alt="PinkVERIFY Certified" /></a></li>
        <li class="list-inline-item "><img class="lazyload" style="height:50px;" data-src="{{ 'Partner logos/logo-ms-azure-60h.png'|media }}" alt="Microsoft Azure Logo" /></li>
        <li class="list-inline-item "><a href="https://registry.blockmarktech.com/certificates/314f107b-aef9-4fb6-8cd2-0ed7403c0f72/active/"><img class="lazyload" style="height:60px;" data-src="{{ 'Partner logos/logo-cyber-essentials-60h@2x.png'|media }}?v=2" alt="Cyber Essentials" /></a></li>
        <li class="list-inline-item "><a href="https://www.cioreview.com/alemba"><img class="lazyload" style="height:60px;" data-src="{{ 'Badges/badge_cioreview_workflow_2024@2x.png'|media }}" alt="CIOReview Top Workflow Solutions Provider 2024" /></a></li>
    </ul>    

    <ul class="my-0 p-0">
        <li class="list-inline-item "><a href="https://alemba.com/security-accreditation"><img class="lazyload" data-src="{{ 'Badges/iso-badges-white.png'|media }}" alt="ISO 9001 & ISO 27001. Cert Number 24211" /></a></li>
        <li class="list-inline-item "><a href="{{ 'blog-entry'|page({ category:'news', slug:'alemba-accessibility-conformance' }) }}"><img class="lazyload" style="height:35px" data-src="{{ 'Badges/badge_wcag_22@2x.png'|media }}" alt="WAI-AA WCAG 2.2" /></a></li>
     </ul>   
    
</div>
</div>

        <div class="row mt-4">

            <div class="col-10 offset-1">

                <div id="footer-logo" class="d-flex justify-content-between flex-wrap gap-4">
                    <p class="m-0 d-flex align-items-end ">Copyright © 2025, All rights reserved.</p>

                    <img style="width:180px;" class="lazyload" data-src="{{ 'assets/images/logo-alemba-white.svg'|theme }}" alt="Alemba" />

                </div>

            </div>

        </div>

    </div>

</footer>

{% partial 'footer-scripts-styles' %}


<style>

.footer-partner-badges img {
  height: 30px !important; /* reduce from 100px or 60px to smaller */
  max-height: 30px !important;
  width: auto;

}
#footer-left-block{
    flex-wrap: wrap !important;
    gap:20px;
}

footer{
   padding: 0; 
}
#footer-socials a {
    color: #fff;
    font-size: 1.2rem !important;
}

.nav-heading{
    margin-bottom: 10px !important;
}

@media (min-width: 992px) {
    .footer-partner-badges img {
  height: 40px !important; /* reduce from 100px or 60px to smaller */
  max-height: 40px !important;
  width: auto;
}

#footer-left-block ul{
    padding: 0 !important;

}






}


@media (min-width: 768px) {

}

</style>