description = "Footer without nav links"
==
<footer class="pt-5">

    <div class="container-fluid footer">
        <div class="row">

            <div class="col-10 offset-1 footer-left-block">
                <div class="row">

                    <div class="col-4 col-lg-3 footer-nav">
                        {#
                        <h5 class="nav-heading">Key Features</h5>

                        <ul class="list-unstyled mb-5">
                            <li><a href="{{ 'self-service-portal'|page }}">Self-service Portal</a></li>
                            <li><a href="{{ 'automation'|page }}">Automation</a></li>
                            <li><a href="{{ 'data-secure-itsm'|page }}">Security</a></li>
                            <li><a href="{{ 'integration-platform'|page }}">Integration</a></li>
                            <li><a href="{{ 'reporting'|page }}">Reporting</a></li>
                            <li><a href="{{ 'ai-ops-proactive-problem-management'|page }}">AI Ops: Proactive Problem Management</a></li>
                        </ul>

                        <h5 class="nav-heading">Solutions</h5>

                        <ul class="list-unstyled mb-5">
                            <li><a href="{{ 'healthcare'|page }}">Healthcare</a></li>
                            <li><a href="{{ 'local-government'|page }}">Government</a></li>
                            <li><a href="{{ 'finance'|page }}">Finance</a></li>
                            <li><a href="{{ 'utilities'|page }}">Utilities</a></li>
                            <li><a href="{{ 'digital-transformation'|page }}">Digital Transformation</a></li>
                            <li><a href="{{ 'case-management'|page }}">Case Management</a></li>
                            <li><a href="{{ 'retail'|page }}">Retail & Manufacturing</a></li>
                            <li><a href="{{ 'charity'|page }}">Charity</a></li>
                            <li><a href="{{ 'higher-education'|page }}">Higher Education</a></li>
                        </ul>
                        #}
                    </div>

                    <div class="col-4 col-lg-3">
                        {#
                        <h5 class="nav-heading">Glossary</h5>

                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="{{ 'itsm101'|page }}">What is ITSM?</a></li>
                            <li class="nav-item"><a href="{{ 'esm'|page }}">What is ESM?</a></li>
                            {% for item in itil %}
                                <li class="nav-item"><a href="{{ 'itil-detail'|page({ slug:item.slug }) }}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                        #}
                    </div>

                    <div class="col-4 col-lg-3">
                           {#
                        <h5 class="nav-heading">Company</h5>

                        <ul class="list-unstyled">
                            <li><a href="{{ 'our-company'|page }}">About Us</a></li>
                            <li><a href="{{ 'blog'|page }}">Newsroom</a></li>
                            <li><a href="{{ 'contact'|page }}">Contact</a></li>
                            <li><a href="{{ 'privacy-policy'|page }}">Privacy Policy</a></li>
                        </ul>
                        #}
                    </div>

                    <div class="col-12 col-lg-3 footer-right-block">
                    {#
                    <h5 class="nav-heading">Newsletter</h5>

                    <div class="renderNewsletterForm5c791353e7369"></div>

                    {% component 'renderNewsletterForm' %}
                    #}
                    <div id="footer-socials" class="mt-5">
                        <h5 class="nav-heading">Social</h5>

                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="https://www.youtube.com/@AlembaITSM"><i class="fa-brands fa-youtube"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/company/alemba/"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.facebook.com/alembagroup/"><i class="fa-brands fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/groups/13002769/"><i class="nav-icon fa-kit fa-alemba-x fa-fw"></i> <small class="h6">LinkedIn Hub</small></a></li>
                        </ul>

                    </div>

                    <ul class="mt-4 footer-partner-badges list-inline list-unstyled">
                        <li class="list-inline-item mb-4"><a href="{{ 'blog'|page({ 'category':'news', 'slug':'gigaom-outperformer-alemba-radar-report-it-service-management-itsm-2023' }) }}?utm_source=website+footer&utm_medium=footer&utm_id=GigaOm"><img class="lazyload" style="height:100px;" data-src="{{ 'Badges/badge_gigaom_2023_outperformer.svg'|media }}" alt="Gigaom Radar Report: ITSM Outperformer 2023" /></a></li>
                        <li class="list-inline-item mb-4"><a href="{{ 'blog'|page({ 'category':'news', 'slug':'gigaom-outperformer-alemba-radar-report-it-service-management-itsm-2023' }) }}?utm_source=website+footer&utm_medium=footer&utm_id=GigaOm"><img class="lazyload" style="height:100px;" data-src="{{ 'Badges/badge_gigaom_2023_leader.svg'|media }}" alt="Gigaom Radar Report: ITSM Leader 2023" /></a></li>
                        <li class="list-inline-item mb-4"><img class="lazyload" style="height:50px;" data-src="{{ 'Badges/badge_pinkverify_certified_19p@2x.png'|media }}" alt="PinkVERIFY Certified" /></li>
                        <li class="list-inline-item mb-4"><img class="lazyload" style="height:60px;" data-src="{{ 'Partner logos/logo-aws-60h@2x.png'|media }}" alt="Amazon Web Services Partner Network - Consulting Partner" /></li>
                        <li class="list-inline-item mb-4"><a href="https://registry.blockmarktech.com/certificates/314f107b-aef9-4fb6-8cd2-0ed7403c0f72/active/"><img class="lazyload" style="height:60px;" data-src="{{ 'Partner logos/logo-cyber-essentials-60h@2x.png'|media }}?v=2" alt="Cyber Essentials" /></a></li>
                        <li class="list-inline-item mb-4"><img class="lazyload" style="height:60px;" data-src="{{ 'Badges/badge_cioreview_workflow_2024@2x.png'|media }}" alt="CIOReview Top Workflow Solutions Provider 2024" /></li>
                    </ul>
                    
                </div>

            </div>

          </div>

        </div>

        <div class="row mt-4">

            <div class="col-10 offset-1">

                <div id="footer-logo" class="d-flex justify-content-end">

                    <img style="width:180px;" class="lazyload" data-src="{{ 'assets/images/logo-alemba-white.svg'|theme }}" alt="Alemba" />

                </div>

            </div>

        </div>

    </div>

</footer>

{% partial 'footer-scripts-styles' %}

</body>

</html>