description = "Footer without nav links"
==
<footer class="pt-5">

    <div class="row mt-4">

        <div class="col-10 offset-1">

            <div id="footer-logo" class="d-flex justify-content-between flex-wrap gap-4">
                <p class="m-0 d-flex align-items-end text-white">Copyright © 2025, All rights reserved.</p>

                <img style="width:180px;" class="lazyload" data-src="{{ 'assets/alemba-logo/Alembalogo.svg'|theme }}" alt="Alemba" />

            </div>

        </div>

    </div>

</div>

</footer>

{% partial 'footer-scripts-styles' %}

</body>

</html>