<div id="homepage-roadmap-block" class="row p-5 d-flex justify-content-center align-items-center">

  <div class="col-12 col-lg-9">

    <div id="homepage-roadmap" class="d-flex p-5 justify-content-center align-items-center lazyload" data-bg="{{ 'Banners/banner-product-roadmap.jpg'|media }}">

      <div id="homepage-roadmap-content">

        <h3>Product Roadmap</h3>
        <h5>Find out about the exciting upcoming features we have planned for future releases.</h5>

        <a class="mt-4 btn btn-lg btn-outline" href="{{ 'product-roadmap'|page }}" role="button">Read more</a>

      </div>

    </div>

  </div>

</div>