<div id="homepage-sectors" class="mb-5">

  <div class="row mb-5">

    <div class="col-10 offset-1">
      <h3>Industry standard.</h3>
      <h5>Whatever your sector, Alemba Service Manager does the job.</h5>
    </div>

  </div>

  <div class="row">

    <div class="col-10 offset-1">

      <div class="row g-4">

        <div class="col-12 col-sm-6 col-xl-3 sector-card mb-3">
          <a href="{{ 'healthcare'|page }}"><div class="picture-card sector h-100 lazyload" data-bg="{{ 'Misc/sector-healthcare.jpg'|media }}">
            <h4>Healthcare</h4>
          </div></a>
        </div>

        <div class="col-12 col-sm-6 col-xl-3 sector-card mb-3">
          <a href="{{ 'local-government'|page }}">
            <div class="picture-card sector h-100 lazyload" data-bg="{{ 'Misc/sector-local-authorities.jpg'|media }}">
              <h4>Local & State Government</h4>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-xl-3 sector-card mb-3">
          <a href="{{ 'finance'|page }}">
            <div class="picture-card sector h-100 lazyload" data-bg="{{ 'Misc/sector-finance.jpg'|media }}">
              <h4>Finance</h4>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-xl-3 sector-card mb-3">
          <a href="{{ 'finance'|page }}">
            <div class="picture-card sector h-100 lazyload" data-bg="{{ 'Misc/sector-utilities.jpg'|media }}">
              <h4>Utilities</h4>
            </div>
          </a>
        </div>
        
        {#
        <div class="col-12 col-sm-6 col-lg-3 sector-card mb-3">
          <a href="{{ 'managed-service-providers'|page }}">
            <div class="picture-card sector h-100" style="background-image:url('{{ 'Misc/sector-msps.jpg'|media }}');">
              <h4>Managed Service Providers</h4>
            </div>
          </a>
        </div>
        #}

      </div>

    </div>

  </div>

</div>