<div class="col-sm-6 col-lg-3">
    <div class="card d-flex align-items-stretch">
        <div class="card-img-top" style="background-image: url({{ resource.thumbnail|media }});"></div>
        <div class="card-body bkg-light">
            <h4 class="card-title text-center mt-0">{{ resource.title }}</h4>
            <p class="card-text text-center">{{ resource.text }}</p>
            <div class="text-center">
                <a href="{{ resource.url }}" class="btn btn-outline pink light-bkg">Read the {{ resource.type }}</a>
            </div>
        </div>
    </div>
</div>